<div class="row justify-content-md-center" style="width: 90%; margin-left: 5%;">

    <div class="col-md-6">
        <mat-form-field class="animated fadeIn">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Búsqueda de especialidades">
        </mat-form-field>
    </div>

    <div class="col-md-auto">
        <a>
            <button mat-button (click)="openModalEspecialidad()" id="button-next">+ Añadir Especialidad</button>
        </a>
    </div>

    <table class="mat-elevation-z8 animated fadeIn" mat-table [dataSource]="dataSource" style="width:99%;">

        <ng-container matColumnDef="especialidad">
            <th mat-header-cell *matHeaderCellDef> Especialidades </th>
            <td mat-cell *matCellDef="let element"> {{element.especialidad}} </td>
        </ng-container>

        <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef>Editar </th>
            <td mat-cell *matCellDef="let element">
                <button matTooltip="Editar Especialidad" class="buttontable" style="margin-left: 2%;" mat-button (click)="openModalEspecialidad(element)"><i class="fas fa-edit"></i></button>
                <!-- IMPROVE agrandar icon -->
            </td>
        </ng-container>

        <ng-container matColumnDef="borrar">
            <th mat-header-cell *matHeaderCellDef> Borrar </th>
            <td mat-cell *matCellDef="let element">
                <button matTooltip="Borrar Especialidad" class="buttontable2" mat-button (click)="borrarEspecialidad(element.id)"> <i class="fas fa-trash-alt"></i> </button>
                <!-- IMPROVE agrandar icon -->
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[30, 100, 200, dataSource.data.length]" showFirstLastButtons></mat-paginator>
</div>