#button-next {
    background-color: #73a777;
    color: white;
    font-weight: bold;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}


/* 
.mat-dialog-container {
    padding: 5%;
    border-radius: 3%;
} */