<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

    <app-header></app-header>

    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- <div (click)="close()" class="container" style="position: fixed; z-index: 1;text-align: center;flex: 0 0 100%;max-width: 100%;" *ngIf="identidad.sub != 39 && clos">
            <img src="..\..\assets\images\gifdescpag.gif" style="max-width: 50%;box-shadow: 0 0 3000px 500px rgba(0,0,0,0.75); border-radius: 20px; max-height: 50%; cursor:pointer; text-align: center;">
        </div> -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid" style="padding: 0px;">

            <!-- <app-breadcrumbs></app-breadcrumbs> -->

            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->

            <router-outlet></router-outlet>

        </div>
        <!-- ============================================================== -->
        <!--End container fluid  -->
        <!-- ============================================================== -->

    </div>
    <!-- ============================================================== -->
    <!-- End page wrapper  -->
    <!-- ============================================================== -->
    <!--     <footer style="background-color:rgb(227, 227, 227); background-size: cover; background-position: center; width:100%; height: 180px;">
        <br><br>
        <div class="row">
            <div class="col-md-4" style="text-align: center">
                <button onclick="window.open('https://g.page/todoobrassj?share')" class="btn btn-circle  m-r-20" style="background-color: rgb(26, 128, 182); height: 60px; width: 60px; border-radius: 50%;"><i class="fas fa-map-marker-alt fa-2x" style="color: white;"></i></button>
                <p style="color: black; margin-top: 6px; font-size: 11pt">Amable Jones 135 - Sur</p>
                <p style="color: black;  margin-top: -17px;font-size: 11pt">Santa Lucía - San Juan</p>
            </div>
            <div class="col-md-4" style="text-align: center">
                <button class="btn btn-circle  m-r-20" style="background-color: rgb(26, 128, 182); height: 60px; width: 60px; border-radius: 50%;"><i class="far fa-envelope fa-2x" style="color: white;"></i></button>
                <p style="color: black; margin-top: 6px; font-size: 11pt">info@dcdistribuciones.com.ar</p>
            </div>
            <div class="col-md-4" style="text-align: center">
                <button class="btn btn-circle  m-r-20" style="background-color: rgb(26, 128, 182); height: 60px; width: 60px; border-radius: 50%;"><i class="fas fa-phone fa-2x" style="color: white; transform: scale(1, -1); transform: scale(-1, 1);"></i></button>
                <p style="color: black; margin-top: 6px; font-size: 11pt">Empresa: 264-420-2498</p>
                <p style="color: black;  margin-top: -17px; font-size: 11pt">Whatsapp: 264-550-1884</p>
            </div>
        </div>
    </footer> -->
</div>

<!-- ============================================================== -->
<!-- End main wrapper  -->
<!-- ============================================================== -->