<!-- <div class="row">
    <div class="col-md-12">
        <button (click)="close()" class="btn pull-right"><i class="fas fa-times"></i></button>
    </div>
</div> -->
<div class="row">
    <div class="col-md-12">
        <p class="center"><strong>Cambiar el estado de la cita</strong></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ng-select class="center" style="width:15em; margin-top: 1.4%;" [items]="estados" name="estados" id="InputEstado" placeholder="Seleccione Estado" bindLabel="option" binValue="val" [(ngModel)]="selectedEstado">
        </ng-select>
    </div>
</div>
<br>

<div class="row" style="font-size:10px;">
    <table width="90%" border="0" style="padding:0; margin-left: 5%;">
      <tr>
        <td width="26%" style="background-color: #ff8b55; ">&nbsp;Pendiente :</td>
        <td width="74%">Cita pendiente de confirmar</td>
      </tr>
      <tr>
        <td style="background-color: #24bd52; ">Confirmada :</td>
        <td>Se ha confirmado la asistencia</td>
      </tr>
      <tr>
        <td style="background-color: #d8bfb6; ">En Sala :</td>
        <td>Paciente en el consultorio y en espera</td>
      </tr>
      <tr>
        <td style="background-color: #00b3ff; ">Atendida :</td>
        <td>Se ha cumplido correctamente</td>
      </tr>
      <tr>
        <td style="background-color: #131313; color:white; ">Ausente :</td>
        <td>El paciente no se present&oacute; al turno</td>
      </tr>
      <tr>
        <td style="background-color: #a98fe9; ">Cancelada :</td>
        <td>Cita cancelada POR EL PACIENTE</td>
      </tr>
      <tr>
        <td style="background-color: #ed1c23; ">Anulada :</td>
        <td>Cita anulada POR EL PROFESIONAL</td>
      </tr>
        <tr>
        <td style="background-color: #ded861; ">Prioritaria :</td>
        <td>Cita con atención PRIORITARIA</td>
      </tr>
        <tr>
        <td style="background-color: #bfbfbf; ">No dar turno :</td>
        <td>Horario SIN TURNOS otorgados</td>
      </tr>
      <tr>
        <td style="background-color: #6464ff; ">Sobreturno :</td>
        <td>Horario CON SOBRETURNOS otorgados</td>
      </tr>
    </table>
</div>
<br>
<!-- <br><br>     -->
<div class="row">
    <div class="col-md-12">
        <button (click)="saveCita()" class="btn center">Guardar</button>
    </div>
</div>