.mat-form-field {
    font-size: 20px;
    width: 100%;
}

::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
}

table {
    width: 100%;
}

td {
    width: 12%;
}

.disable-cli {
    pointer-events: none !important;
    opacity: 0.5;
}

.mat-checkbox .mat-checkbox-frame {
    transform: scale(2);
}

.mat-checkbox-checked .mat-checkbox-background {
    transform: scale(2);
}

.outOfStock {
    background-color: rgba(255, 255, 0, 0.205);
}

.mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after,
.mat-input-element:disabled {
    color: #7460ee;
}

tr {
    height: 15px;
    width: 50px;
}