<!-- <div class="row">
    <div class="col-md-12">
        <button (click)="close()" class="btn pull-right"><i class="fas fa-times"></i></button>
    </div>
</div> -->

<div class="card" >
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <p id="title" class="center"><strong>Datos de la cita</strong></p>
            </div>
        </div>
        
        
        <div class="row" style="font-size:10px;  line-height: 1.8;">
            <table width="90%" style="padding:0;">
                <tr>
                    <td id="td-left" width="26%">Profesional</td>
                    <td width="74%"> {{data.element.prof}} </td>
                </tr>
                <tr>
                    <td id="td-left">Consultorio</td>
                    <td width="74%"> {{data.element.consultorio}}</td>
                </tr>
                <tr>
                    <td id="td-left">Día </td>
                    <td width="74%"> {{data.element.dia}} </td>
                </tr>
                <tr>
                    <td id="td-left">Fecha y Hora</td>
                    <td width="74%"> {{data.element.fechalarga}} </td>
                </tr>
                <tr>
                    <td id="td-left">Estado</td>
                    <td (click)="changeCitaState()" width="74%;" style="cursor: pointer"> {{data.element.estado}}</td>
                </tr>
                <tr>
                    <td id="td-left">Notas</td>
                    <td width="74%"> {{data.element.notas}} </td>
                </tr>
        
                <tr>
                    <td id="td-left">Tipo de cita</td>
                    <td width="74%"> {{data.element.tipodecita}} </td>
                </tr>
        
        
            </table>
        </div>
        <br>
        <div class="row">
            <div class="row col-md-12">
                <p id="title" class="center"><strong>Datos del paciente</strong></p> 
                <a style="margin-left: 5%;" matTooltip="Editar Paciente" (click)="flagEdit=true"><i class="fas fa-edit"></i> </a>
            </div>
        </div>
        
        <div *ngIf="!flagEdit" class="row" style="font-size:10px; line-height: 1.8;">
            <table style="padding:0; ">
                <tr>
                    <td id="td-left">Apellido y nombre</td>
                    <td> {{data.element.apynom}} </td>
                </tr>
                <tr>
                    <td id="td-left">Sexo</td>
                    <td width="74%"> {{data.element.sexo}} </td>
                </tr>
                <tr>
                    <td id="td-left">Documento</td>
                    <td width="74%"> {{data.element.doc}} </td>
                </tr>
                <tr>
                    <td id="td-left">Teléfono</td>
                    <td width="74%"> {{data.element.tel}} </td>
                </tr>
                <tr>
                    <td id="td-left">Celular</td>
                    <td width="74%"> {{data.element.cel}} </td>
                </tr>
                <tr>
                    <td id="td-left">Obra Social</td>
                    <td width="74%"> {{data.element.nameobrasocial}}</td>
                </tr>
                <tr>
                    <td id="td-left">Fecha de Nacimiento</td>
                    <td width="74%"> {{data.element.nac}} </td>
                </tr>
                <tr>
                    <td id="td-left">Direccion</td>
                    <td width="74%"> {{data.element.direcc}} </td>
                </tr>
                <tr>
                    <td id="td-left">Localidad</td>
                    <td width="74%"> {{data.element.loc}} </td>
                </tr>
                <tr>
                    <td id="td-left">Provincia</td>
                    <td width="74%"> {{data.element.prov}} </td>
                </tr>
            </table>
        </div>
        
        <div *ngIf="flagEdit" class="row" style="font-size:10px; line-height: 1.8;">
            <table style="padding:0;">
                <tr>
                    <td id="td-left">Apellido y nombre</td>
                    <td width="74%"> 
                        <input type="text" class="form-control" name="apynom" [(ngModel)]="data.element.apynom" id="InputNom">
                    </td>
                </tr>
                <tr>
                    <td id="td-left">Sexo</td>
                    <td width="74%">  
                        <ng-select style="text-align:center;" [items]="sexo" name="selectSexo" id="selectSexo" bindLabel="tipo" binValue="tipo" placeholder="..." [(ngModel)]="data.element.sexo" required>
                        </ng-select>
                    </td>
                </tr>
                <tr>
                    <td id="td-left">Documento</td>
                    <td width="74%"> 
                        <input (keyup.enter)="buscarPac()" type="text" class="form-control" name="doc" [(ngModel)]="data.element.doc" id="InputDoc">
                    </td>
                </tr>
                <tr>
                    <td id="td-left">Teléfono</td>
                    <td width="74%"> 
                        <input type="text" class="form-control" name="tel" [(ngModel)]="data.element.tel" id="InputTel">
                    </td>
                </tr>
                <tr>
                    <td id="td-left">Celular</td>
                    <td width="74%"> 
                        <input type="text" class="form-control" name="cel" [(ngModel)]="data.element.cel" id="InputCel">
                    </td>
                </tr>
                <tr>
                    <td id="td-left">Obra Social</td>
                    <td width="74%">  
                        <ng-select style="text-align:center;" [items]="obrassociales" name="selectOS" id="selectOS" bindLabel="nombre" binValue="id" placeholder="..." [(ngModel)]="data.element.obrasocial" required>
                        </ng-select>
                    </td>
                </tr>
                <tr>
                    <td id="td-left">Fecha de Nacimiento</td>
                    <td width="74%"> 
                        <input type="text" class="form-control" name="nac" [(ngModel)]="data.element.nac" id="InputNac">
                    </td>
                </tr>
                <tr>
                    <td id="td-left">Direccion</td>
                    <td width="74%"> 
                        <input type="text" class="form-control" name="direcc" [(ngModel)]="data.element.direcc" id="InputDirecc">
                    </td>
                </tr>
                <tr>
                    <td id="td-left">Localidad</td>
                    <td width="74%"> 
                        <input type="text" class="form-control" name="loc" [(ngModel)]="data.element.loc" id="InputLoc">
                    </td>
                </tr>
                <tr>
                    <td id="td-left">Provincia</td>
                    <td width="74%"> 
                        <input type="text" class="form-control" name="prov" [(ngModel)]="data.element.prov" id="InputProv">
                    </td>
                </tr>
            </table>
        </div>
        
        <br><br>
        <div *ngIf="flagEdit" class="row">
            <div class="col-md-12" style="margin-left: 32%">
                <button (click)="savePaciente()" class="btn center">Actualizar</button>
            </div>
        </div>
    </div>
</div>
    
