table {
    border-collapse: collapse;
}

#td-left {
    background-color: #00b3ff;
    color: white;
    font-weight: bold;
}

#title {
    margin-left: 30%;
}

table {
    border: none;
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 5px 10px;
    text-align: center;
    border: 1px solid #999;
}

tr:nth-child(1) {
    background: #dedede;
}