<div class="row center" style="margin-left: 40%;">
    <img style="width: 4%;" id="img-doc" src="../assets/images/doctor.png">
    <ng-select style="width:15em; margin-top: 1.4%;" [items]="profesionales" name="profesionales" id="InputProfesionales" placeholder="Seleccione Profesional" bindLabel="apynom" binValue="id" [(ngModel)]="selectedProfesional" (change)="getCitasEstadisticas()" (remove)="onDelete()">
    </ng-select>
</div>
<br>
<div class="card-row" style="padding-left: 30%; width: 100%;">

    <!-- Mensual -->
    <div class="card" style="width: 30%;">
        <div class="row text-dark bg-light up-border" *ngIf="!flag">
            <div class="col-md-12">
                <h4 class="card-title" style="padding: 10px; text-align: right; color: #3f3f3f;">Al seleccionar un profesional verá un resumen estadístico de sus citas</h4>
            </div>
        </div>
        <div class="row text-dark bg-light up-border" *ngIf="flag">
            <div class="col-md-6">
                <h4 class="card-title" style="padding: 10px; text-align: right; color: #3f3f3f;">Estadísticas del mes</h4>
            </div>
        </div>
        <div class="row text-dark bg-light down-border">
            <div class="col-md-12">
                <div style="display: block;">
                    <canvas id="torta">{{ chart }} </canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Anual -->

    <div class="card" *ngIf="flag" style="width: 60%;">
        <div class="row text-dark bg-white up-border">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <h4 class="card-title" style="padding: 10px; text-align: right; color: #3f3f3f;">&nbsp;Comparativas anuales {{ year }}</h4>
            </div>
        </div>
        <div class="row text-dark bg-white down-border">
            <div class="col-md-12">
                <div style="display: block;">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [colors]="barChartColors" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
                      </canvas>
                </div>
            </div>
        </div>
    </div>

</div>