<style>
    mat-form-field {
        width: 100%;
    }
</style>
<mat-form-field class="example-chip-list">
    <mat-chip-list #chipList>
        <mat-chip *ngFor="let item of items" [selectable]="selectedChip" [removable]="removable" (removed)="remove(item)">
            {{ item[keyTag] }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input [placeholder]="placeholder" #itemInput [formControl]="itemCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let item of filteredItems | async" [value]="item">
            {{ item[keyTag] }}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>