<div class="container">
    <mat-card>
        <mat-card-title class="m-b-20">
            {{ cardTitle }}
        </mat-card-title>
        <mat-divider></mat-divider>
        <form [formGroup]="userForm">
            <div class="example-container">
                <!-- MAIL -->
                <mat-form-field class="m-t-10">
                    <input [attr.disabled]="idUser" matInput type="mail" placeholder="Mail" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors}" required>
                    <mat-error *ngIf="f['email'].errors && !usedMail"> Mail requerido </mat-error>
                    <mat-error *ngIf="usedMail"> El mail ingresado esta en uso </mat-error>
                </mat-form-field>
                <!-- NOMBRE Y APELLIDO -->
                <mat-form-field class="m-t-30">
                    <input matInput type="text" placeholder="Nombre y apellido" formControlName="nya" [ngClass]="{ 'is-invalid': submitted && f['nya'].errors}" required>
                    <mat-error *ngIf="f['nya'].errors"> Nombre y apellido requerido </mat-error>
                </mat-form-field>
                <!-- ROL -->
                <mat-form-field class="m-t-10">
                    <input matInput type="text" placeholder="Rol" formControlName="rol" [ngClass]="{ 'is-invalid': submitted && f['rol'].errors}" required>
                    <mat-error *ngIf="f['rol'].errors"> Rol requerido </mat-error>
                </mat-form-field>

                <!-- DOMICILIO -->
                <mat-form-field class="m-t-10">
                    <input matInput type="text" placeholder="Establecimiento" formControlName="establi" [ngClass]="{ 'is-invalid': submitted && f.establi.errors}" required>
                    <mat-error *ngIf="f['establi'].errors"> Establecimiento requerido </mat-error>
                </mat-form-field>
            </div>
            <mat-card-actions class="text-center">
                <button (click)="saveSeller()" [disabled]="!userForm.valid" class="btn btn-primary">Cargar usuario</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>