<h5 class="card-header row justify-content-center">
    Tipo de Emisión de Turnos del Profesional:</h5>

<div class="card-body">
    <form #agregarObraSocial="ngForm">
        <div class="form-group row justify-content-center">
            <label for="InputCitas " class=" ">Atiende cada: (minutos)</label>
            <div class="col-sm-5 col-sm-offset-3">
                <input type="text" class="form-control" name="citaminutos" [(ngModel)]="profesional.citaminutos" id="InputCitas">
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <label for="InputNotas" class=" ">Notas</label>
            <div class="col-sm-5 col-sm-offset-3">
                <input type="text" class="form-control" name="notas" [(ngModel)]="profesional.notas" id="InputNotas">
            </div>
        </div>


        <div style=" text-align: center;">
            <button (click)="onSubmit()" class="btn btn-primary">Guardar Datos</button>
        </div>

    </form>
</div>