<div class="row">
    <div class="col-md-12">
        <p id="title" class="center" style="font-size: 1em;"><strong>Seleccione un profesional</strong></p>
    </div>
</div>

<div class="row" style="font-size:10px;  line-height: 1.8;">
    <div class="col-md-12">
        <ng-select style="text-align:center;" [items]="profesionales" name="profesionales" id="profesionales" bindLabel="apynom" binValue="id" placeholder="Seleccione Profesional" [(ngModel)]="profesionalSelected" required>
        </ng-select>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12" style="margin-left: 25%">
        <button (click)="addRel()" class="btn center">Guardar</button>
    </div>
</div>