

.topbar .navbar-light .navbar-nav .nav-item>a.nav-link {
    color: white;
    padding-right: 1em;
    padding-left: 1em;
}

.bg-light {
    background-color: #00b7f4 !important;
}

nav a {
    text-decoration: none;
    color: #00b7f4;
    font-size: 20px;
}

nav li {
    display: inline-block;
    text-align: center;
    position: relative;
}

nav li>ul {
    display: none;
}

nav li:hover>ul {
    display: block;
    position: absolute;
}