<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<style>
    .topbar .navbar-dark .navbar-nav .nav-item>a.nav-link {
        color: black;
        font-weight: light;
        font-family: Arial;
    }

    .bannercm{
        position: fixed;
        display: block;
        top: 0;
        transition: all .5s;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 0s;  
    }

    .nav-up {
        top: -40px;
    }
    
    .navbar {
        height: 2.3em !important;
    }
    
    @media (min-width: 768px) {
        .navbar-header {
            width: 180px;
        }
    }
    
    .btn-outline-danger:hover {
        background-color: #dc3545c7;
    }
    
    .btn-outline-success:hover {
        background-color: #28a745c2;
    }
    
    .topbar .navbar-dark .navbar-nav .nav-item>a.nav-link:hover,
    .topbar .navbar-dark .navbar-nav .nav-item>a.nav-link:focus {
        color: black !important;
        font-weight: bold !important;
    }
    
    .topbar ul.dropdown-user {
        width: 60%;
        min-width: 0 !important;
    }
    
    .menu-cat {
        margin-left: 10px;
        font-weight: 500;
        line-height: 0.9em;
        font-size: 13px;
    }
    
    .dropdown-menu {
        min-width: 16rem;
        background-color: white;
        text-decoration-color: black;
        font-weight: light;
    }
    
    .dropdown-submenu {
        margin: 10px;
        cursor: pointer;
    }
    
    .nosub {
        margin: 10px;
        cursor: pointer;
        line-height: 0.8em;
    }
    
    .dropdown-submenu:hover {
        font-weight: bold;
    }
    
    .navbar .mega-dropdown {
        position: static !important;
    }
    
    .navbar .dropdown-menu.mega-menu {
        border: none;
        border-radius: 0;
    }
    
    .navbar .dropdown-menu.mega-menu a {
        padding: 0 0 0 0;
    }
    
    .navbar .dropdown-menu.mega-menu a.news-title {
        font-weight: 500;
        font-size: 1.1rem;
        line-height: 1.5;
        -webkit-transition: .2s;
        transition: .2s;
        color: #4f4f4f !important;
    }
    
    .navbar .dropdown-menu.mega-menu a.news-title:hover {
        color: #2196f3 !important;
    }
    
    .navbar .dropdown-menu.mega-menu a.news-title.smaller {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.4;
    }
    
    .navbar .dropdown-menu.mega-menu .sub-menu a.menu-item {
        color: #4f4f4f !important;
    }
    
    .navbar .dropdown-menu.mega-menu .sub-menu a.menu-item:hover {
        color: blue !important;
    }
    
    .navbar .dropdown-menu.mega-menu .news-single {
        margin-bottom: 1.2rem;
        border-bottom: 1px solid #e0e0e0;
    }
    
    .navbar .dropdown-menu.mega-menu .sub-title {
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid #e0e0e0;
    }
    
    .navbar .dropdown-menu.mega-menu .p-sm {
        padding-bottom: 0;
    }
    
    .navbar .dropdown-menu.mega-menu .menu-item {
        margin-bottom: -5px;
        font-size: 0.85rem;
        color: #2196f3 !important;
    }
    
    .menu-cat:hover {
        color: blue !important;
    }
    
    .navbar .dropdown-menu.mega-menu .mt-sm {
        margin-top: -3px;
    }
    
    .navbar .dropdown-menu.mega-menu .font-small {
        font-size: 0.85rem;
    }
    
    #drop-content {
        display: block;
    }
</style>

<header class="topbar bannercm" id="bannercm" (window:scroll)="doSomethingOnWindowScroll($event)">
    <div class="row">
        <div style="color: #00b7f4; background-image: url(../assets/images/banner.png); background-repeat: no-repeat; background-size: cover; width: 100%;">
            <div class="row">
                <div class="banner" style="color: #00b7f4; font-family: 'Georgia, serif';">
                    <div class="col-md-5 align-items-center" style="text-align: center; margin-left: 3%;">
                        <a href="index.html">
                            <img class="img-cm" src="../assets/images/cm.png" style="width: 60%;">
                        </a>
                        <h1>
                            CLAVE MEDICA
                        </h1>
                        <p style="margin-top: -0.8em;">
                            Sistema de Reserva y Gestión de Turnos
                        </p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="row" class="col-md-12" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"></a>
                </li>
                <!--    <li class="nav-item hidden-sm-down"></li> -->
            </ul>

            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" routerLink="/pages/dashboard" style="font-size: 14px;">BANDEJA</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/pages/lista" style="font-size: 14px;">LISTA DE ATENCIÓN</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/pages/calendario" style="font-size: 14px;">CALENDARIO</a></li>
                <!-- <li class="nav-item"><a class="nav-link" routerLink="/pages/mensajes" style="font-size: 14px;">MENSAJES</a></li> -->

                <li class="nav-item dropdown">
                    <a class="nav-link waves-effect waves-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 14px;">ADMINISTRACIÓN</a>
                    <div class="dropdown-menu dropdown-menu-right animated fadeIn">
                        <ul class="dropdown-user">
                            <li><a routerLink="/pages/pacientes" style="font-size: 14px; color: #0091ca">PACIENTES</a></li>
                            <li *ngIf="usuario.rol=='AD'"><a routerLink="/pages/profesionales" style="font-size: 14px; color: #0091ca">PROFESIONALES</a></li>
                            <li *ngIf="usuario.rol=='AD' || usuario.rol=='GS'"><a routerLink="/pages/estadisticas" style="font-size: 14px; color: #0091ca">ESTADÍSTICAS</a></li>
                        </ul>
                    </div>
                </li>

                <li *ngIf="usuario.rol=='AD'" class="nav-item dropdown">
                    <a class="nav-link waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 14px;">CONFIGURACIÓN</a>
                    <div class="dropdown-menu dropdown-menu-right animated fadeIn">
                        <ul class="dropdown-user">
                            <li><a routerLink="/pages/especialidades" style="font-size: 14px; color: #0091ca">ESPECIALIDADES</a></li>
                            <li><a routerLink="/pages/obrassociales" style="font-size: 14px; color: #0091ca">OBRAS SOCIALES</a></li>
                            <li><a routerLink="/pages/usersadm" style="font-size: 14px; color: #0091ca">USUARIOS</a></li>
                            <li><a routerLink="/pages/relaciones" style="font-size: 14px; color: #0091ca">RELACIONES</a></li>
                        </ul>
                    </div>
                </li>

                <ng-progress *ngIf="loading" [spinner]="false"></ng-progress>
            </ul>


            <ul class="navbar-nav my-lg-0">

                <li class="nav-item dropdown">
                    <a class="nav-link waves-effect waves-dark" style="padding-top: 9%; padding-bottom: 10%;" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-lg"></i></a>
                    <div class="dropdown-menu dropdown-menu-right animated fadeIn">
                        <ul class="dropdown-user">
                            <li style="width: max-content; display: inline-block;">
                                <div class="dw-user-box">

                                    <div class="u-text">
                                        <p class="text-muted" style="font-size: 14px;">{{ usuario.username }}</p>
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li style="width: max-content; display: inline-block;"><a [routerLink]="['/pages/editar-usuario', usuario.sub]" style="font-size: 14px;"><i class="ti-settings"></i>   Configurar Cuenta</a></li>

                            <li><a (click)="logout()" style="font-size: 14px;"><i class="fa fa-power-off"></i> Salir</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
