<div class="row">
    <div class="col-md-12">
        <mat-form-field appearance="outline">
            <mat-label>{{ title }}</mat-label>
            <input matInput type="email" [(ngModel)]="email">
            <i matSuffix class="fas fa-envelope fa-2x"></i>
        </mat-form-field>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-12">
        <button [disabled]="email === null" (click)="save(); dialogRef.close()" class="btn btn-primary m-r-10">Enviar</button>
        <button (click)="dialogRef.close()" class="btn btn-primary">Salir</button>
    </div>
</div>