<div class="row animated fadeIn">
    <div class="col">
        <i style="color: #745af2" class="fa fa-circle-notch fa-spin fa-2x"></i>
    </div>
</div>
<div class="row">
    <div class="col" style="color: #745af2; margin-top: 5%; margin-left: 2%;">
        Cargando...
    </div>
</div>