<div class="row" style="width: 90%; margin-left: 5%;">

    <div class="col-md-6">
        <mat-form-field class="animated fadeIn">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Búsqueda de profesionales">
        </mat-form-field>
    </div>

    <div class="col-md-6 text-center">
        <a>
            <button mat-button (click)="addProfesional()" id="button-next" style="margin-left: 55%;">+ Añadir Profesional</button>
        </a>
    </div>

    <br>
    <table class="mat-elevation-z8 animated fadeIn" mat-table [dataSource]="dataSource" style="width:99%;">

        <!-- Profesional Column -->
        <ng-container matColumnDef="apynom">
            <th mat-header-cell *matHeaderCellDef> Apellido y nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.apynom}} </td>
        </ng-container>

        <!-- Tel Column -->
        <ng-container matColumnDef="tel">
            <th mat-header-cell *matHeaderCellDef>Tel</th>
            <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
        </ng-container>

        <!-- Cel Column -->
        <ng-container matColumnDef="cel">
            <th mat-header-cell *matHeaderCellDef> Cel</th>
            <td mat-cell *matCellDef="let element"> {{element.cel}} </td>
        </ng-container>

        <!--Especilidad Column -->
        <ng-container matColumnDef="especialidad">
            <th mat-header-cell *matHeaderCellDef> Especialidad </th>
            <td mat-cell *matCellDef="let element"> {{element.especialidad}} </td>
        </ng-container>

        <!-- Consultorio Column -->
        <ng-container matColumnDef="consultorio">
            <th mat-header-cell *matHeaderCellDef>Consultorio/s</th>
            <td mat-cell *matCellDef="let element"> {{element.consultorio}} </td>
        </ng-container>


        <!-- Config Column -->
        <!-- <ng-container matColumnDef="config">
            <th mat-header-cell *matHeaderCellDef> Config </th>
            <td mat-cell *matCellDef="let element">
        </ng-container>

 -->

        <!-- Opciones Column  -->
        <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef> Opciones </th>
            <td mat-cell *matCellDef="let element">
                <button class="buttontable2" mat-button matTooltip="Editar Profesional" (click)="editarProfesional(element)"> <i class="fas fa-edit"></i> </button>
                <button class="buttontable2" mat-button matTooltip="Borrar Profesional" (click)="borrarProfesional(element.id)"> <i class="fas fa-trash-alt"></i> </button>
                <button class="buttontable2" mat-button (click)="verConsultorios(element)"><b>Consultorios</b></button>
                <button class="buttontable2" mat-button (click)="verHorarios(element)"><b>Horarios</b></button>
                <button class="buttontable2" mat-button (click)="verAtencion(element)"><b>Atencion</b></button>

            </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[30, 100, 200, dataSource.data.length]" showFirstLastButtons></mat-paginator>

</div>