<div class="row" style="width: 90%; margin-left: 5%;">

    <div class="row col-md-12 mt-2 mb-4">
        <div class="col-md-8">
            <p>Consultorios donde atiende</p>
        </div>
        <div *ngIf="!flagAdd" class="col-md-4">
            <button mat-button (click)="flagAdd = !flagAdd" id="button-next" >Añadir Consultorio</button>
        </div> 
        <div *ngIf="flagAdd" class="col-md-4">
            <button mat-button (click)="flagAdd = !flagAdd" id="button-next" >Cancelar</button>
        </div>  
    </div>
    <div *ngIf="flagAdd" class="row col-md-12 mt-2 mb-4">
        <div class="col-md-11">
            <div class="row">
                <input class="form-control col-xs-3" style="width: 20%;" type="text" placeholder="Domicilio" [(ngModel)]="newConsultorio.domicilio">
                <input class="form-control col-xs-3" style="width: 15%;" type="text" placeholder="Localidad" [(ngModel)]="newConsultorio.localidad">
                <input class="form-control col-xs-3" style="width: 15%;" type="text" placeholder="Provincia" [(ngModel)]="newConsultorio.provincia">
                <input class="form-control col-xs-3" style="width: 15%;" type="text" placeholder="Teléfono" [(ngModel)]="newConsultorio.telefono">
                <input class="form-control col-xs-3" style="width: 20%;" type="text" placeholder="Nombre" [(ngModel)]="newConsultorio.nombre">
                <input class="form-control col-xs-3" style="width: 15%;" type="text" placeholder="Notas" [(ngModel)]="newConsultorio.notas">
            </div>
        </div>
        <div class="col-md-1">
            <button mat-button (click)="addConsultorio()" id="button-next" >+</button>
        </div>   
    </div>
    <br>
    <table class="mat-elevation-z8 animated fadeIn mt-4" mat-table [dataSource]="dataSource" style="width:99%;">

        <!-- Domicilio Column -->
        <ng-container matColumnDef="domicilio">
            <th mat-header-cell *matHeaderCellDef> Domicilio </th>
            <td mat-cell *matCellDef="let element"> {{element.domicilio}} </td>
        </ng-container>

        <!-- Localidad Column -->
        <ng-container matColumnDef="localidad">
            <th mat-header-cell *matHeaderCellDef>Localidad</th>
            <td mat-cell *matCellDef="let element"> {{element.localidad}} </td>
        </ng-container>

        <!-- Provincia Column -->
        <ng-container matColumnDef="provincia">
            <th mat-header-cell *matHeaderCellDef> Provincia</th>
            <td mat-cell *matCellDef="let element"> {{element.Provincia}} </td>
        </ng-container>

        <!--telefono Column -->
        <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef> Telefono </th>
            <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- Notas Column -->
        <ng-container matColumnDef="notas">
            <th mat-header-cell *matHeaderCellDef>Notas</th>
            <td mat-cell *matCellDef="let element"> {{element.notas}} </td>
        </ng-container>

        <!-- Opciones Column  -->
        <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef> Opciones </th>
            <td mat-cell *matCellDef="let element">
                <button class="buttontable2" mat-button (click)="editarConsultorio(element)"><b>Editar</b></button>
                <!-- HACER -->
                <button class="buttontable2" mat-button (click)="borrarConsultorio(element.id)"><b>Eliminar</b></button>
                <!-- HACER -->
            </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


</div>