
/*******************
Login register and recover password Page
******************/

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid transparent;
  -webkit-text-fill-color: white;
  text-decoration-line: underline;
  transition: background-color 5000s ease-in-out 0s;
}


.login-register {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    position: fixed;
}

.login-box {
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: -200px;
    margin-left: -200px;

}

img {
  width: 200px;
  height: 200px;
  position: absolute;
  left:0;
  top:0;
  opacity: 0.5;
}


/*A continuación se listan los estilos que generan las transparencias en la página*/


  .view {
    height: 100vh !important;
  }
  .rgba-gradient .full-bg-img {
    background: linear-gradient(45deg, rgba(83, 125, 210, 0.4), rgba(178, 30, 123, 0.4) 100%);
  }
  .full-bg-img {
    height: 100%;
  }
  .card {
    border-radius: 25px;
    background-color: white;
  }
  
  .form .prefix {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  .form label {
    color: black;
  }

  .form-material {
    color:white;
    min-height: 38px;
    display: initial;
  }

  ::placeholder { 
    color:lightgrey;
    opacity: 1; 
  }

  @media (max-width: 768px) {
    .login-register {
      background-image: none !important;
      background-color: lightskyblue;
    }
    img{
      display: block;
      margin-left: 30%;
    }   
  }