<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register" style="background-image:url(../../assets/images/background-salud.png);">
    <div><img src="../assets/images/CM.svg" style="height: 50; width: 50" /></div>
    <div class="login-box">
        <div class="card-body card wow fadeInRight" data-wow-delay="0.3s"  >
            <div class="container" >
                <form #ResetForm="ngForm" class="form form-material" id="loginform" (ngSubmit)="resetPass()">
                    <div class="text-center">
                        <h3 class="text-dark">
                          <i class="fas fa-user-circle text-white"></i> Reestablecimiento de Contraseña:</h3>
                        <hr class="hr-light">
                    </div>
                    <div class="text-center">
                            <h4 class="text-dark">
                              <i style="color:black" class="fa fa-user m-r-5"></i> {{form.email}}</h4>
                            <hr class="hr-light">
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-xs-3">
                            <i style="color:black" matPreffix class="fa fa-lock m-r-5"></i>
                            <input matInput class="form-control text-dark" type="password" name="password" #name="ngModel" [(ngModel)]="form.password" required="" placeholder="Nueva Contraseña">
                        </div>
                    </div>
                    <div class="form-group">
                            <div class="col-md-12 col-xs-3">
                                <i style="color:black" matPreffix class="fa fa-lock m-r-5"></i>
                                <input matInput class="form-control text-dark" type="password" name="password2" #name="ngModel" [(ngModel)]="form.password_confirmation" required="" placeholder="Reingresar Nueva Contraseña">
                            </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-md-12 col-xs-3">
                            <button class="btn btn-default" matWavesEffect type="submit">Restablecer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->