/*******************
Login register and recover password Page
******************/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid transparent;
    -webkit-text-fill-color: rgb(44, 44, 44);
    text-decoration-line: underline;
    transition: background-color 5000s ease-in-out 0s;
}

.backgradient {
	background-position: center;
	background-size: cover !important;
    opacity: 0.8;
    margin-top: 3%;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 59%, rgba(255, 255, 255, 1) 100%), url('../../assets/images/background-salud.png') no-repeat;
  	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 59%, rgba(255, 255, 255, 1) 100%), url('../../assets/images/background-salud.png') no-repeat;
  	background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 59%, rgba(255, 255, 255, 1) 100%), url('../../assets/images/background-salud.png') no-repeat;
  	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 59%, rgba(255, 255, 255, 1) 100%), url('../../assets/images/background-salud.png') no-repeat;
  	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 59%, rgba(255, 255, 255, 1) 100%), url('../../assets/images/background-salud.png') no-repeat;
}

.imgcm {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 5%;
}

.login-register {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    position: fixed;
}

.cards {
    width: 150px;
    margin-left: 20%;
}

.card-deck{
    margin-left:7% !important;
}

.title {
    text-align: center;
    font-size: 30px;
    color: #00a9b0;
}

.texto {
    margin: 1em;
    font-size: 15px;
    font-weight: 100;
}

table {
    background-color: #c9dbe1;
}

table p {
    color: #00a9b0;
}

.login-box {
    width: 425px;
    height: 600px;
    margin-left: 5%;
    opacity: 0.7;
}

button {
    background-color: #3a7ec2;
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: #2a5b8d;
}

.form-control {
    padding-left: 2em;
    background-color: white;
    border-radius: 1em;
}

.form-control:focus {
    border-color: #2a5b8d;
    border-radius: 1em;
}


/*A continuación se listan los estilos que generan las transparencias en la página*/

.view {
    height: 100vh !important;
}

.rgba-gradient .full-bg-img {
    background: linear-gradient(45deg, rgba(83, 125, 210, 0.4), rgba(178, 30, 123, 0.4) 100%);
}

.full-bg-img {
    height: 100%;
}

.topbar{
    z-index: 1;
    position: absolute;
    height: 3%;
}

.carda {
    background-color: #dcf1fa;
    margin-top: -20%;
    border-top-left-radius:1.5em;
    border-bottom-left-radius:6em;
    border-top-right-radius:6em;
    border-bottom-right-radius:1.5em;
}

::placeholder { 
    color: #2a5b8d;
    opacity: 1; /* Firefox */
  }

.form .prefix {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.form label {
    color: #ffffff;
}

.form-material {
    color: white;
    min-height: 38px;
    display: initial;
}


@media (max-width: 768px) {
    .login-register {
        background-image: none !important;
        background-color: whitesmoke;
    }
    img {
        display: block;
        margin-left: 30%;
    }
}