    <header>
        <div class="row mt-1">
            <span style="color: #00b7f4; margin-left: 25%; margin-top: 2%; font-size: 25px;"> <strong>Sistema Integral de Reservas y gestión de turnos de atención médica </strong></span>
        </div>
    </header> 
    <section>
        <div class="row">
            <div class="col-md-7 backgradient"></div>
            <div class="col-md-4">
                <div class="login-box">
                    <img class="imgcm" src="../assets/images/CM.svg" />
                    <div class="card-body carda wow fadeInRight" data-wow-delay="0.3s">
                        <div class="container">
                            <form #LoginForm="ngForm" class="form form-material" id="loginform" (ngSubmit)="ingresar()">
                                <div class="text-center">
                                    <h3 style="color: rgb(27, 26, 26);"><i class="fas fa-user-circle"></i> Iniciar Sesión:</h3>
                                </div>
                                <div class="form-group m-t-40 ">
                                    <div class="col-md-12 col-xs-3 ">
                                        <input ngModel class="form-control" autocomplete="off" type="text" name="username" placeholder="Usuario" [(ngModel)]="usuario.username" required="Ingrese un usuario válido ">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-12 col-xs-3 ">
                                        <input ngModel class="form-control" style="color:rgb(27, 26, 26); " autocomplete="off" type="password" placeholder="Contraseña" name="password " [(ngModel)]="usuario.password" required=" ">
                                    </div>
                                </div>
                                <div class="form-group row text-center ">
                                    <div class="col-md-12 col-xs-3 " style="cursor: pointer; ">
                                        <a (click)="modifyPass() " id="to-recover " class="text-dark"> ¿Olvidaste tu contraseña?</a>
                                    </div>
                                </div>
                                <div class="form-group text-center m-t-20 ">
                                    <div class="col-md-12 col-xs-3 ">
                                        <button class="btn button" matWavesEffect type="submit ">Ingresar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>