<div class="row" style="width: 90%; margin-left: 5%;">
    <div class="col-md-6">
        <mat-form-field class="animated fadeIn">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Búsqueda de obras sociales">
        </mat-form-field>
    </div>

    <div class="col-md-6 text-center">
        <a>
            <button mat-button (click)="openModalObraSocial()" id="button-next" style="margin-left: 55%;">+ Añadir Obra Social</button>
        </a>
    </div>

    <table class="mat-elevation-z8 animated fadeIn" mat-table [dataSource]="dataSource" style="width:99%;">

        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="sigla">
            <th mat-header-cell *matHeaderCellDef> Sigla </th>
            <td mat-cell *matCellDef="let element"> {{element.sigla}} </td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> Descripcion </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones </th>
            <td mat-cell *matCellDef="let element">
                <button matTooltip="Editar obra social" class="buttontable" style="margin-left: 2%;" mat-button (click)="openModalObraSocial(element)"> <i class="fas fa-edit"></i> </button>
                <button matTooltip="Borrar obra social" class="buttontable" style="margin-left: 2%;" mat-button (click)="deleteObraSocial(element.id)"> <i class="fas fa-trash-alt"></i> </button>
                <!-- IMPROVE agrandar icon -->
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[30, 100, 200, dataSource.data.length]" showFirstLastButtons></mat-paginator>
</div>