<div class="row" style="width: 90%; margin-left: 5%;">

    <div class="col-md-6">
        <mat-form-field class="animated fadeIn">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Búsqueda de usuarios">
        </mat-form-field>
    </div>

    <div class="col-md-6 text-center">
        <a>
            <button mat-button (click)="addUsuario()" id="button-next" style="margin-left: 55%;">+ Añadir Usuario</button>
        </a>
    </div>

    <table class="mat-elevation-z8 animated fadeIn" mat-table [dataSource]="dataSource" style="width:90%;">

        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> Usuario </th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>

        <ng-container matColumnDef="nivel">
            <th mat-header-cell *matHeaderCellDef> Tipo de Usuario </th>
            <td mat-cell *matCellDef="let element"> {{element.nivel}} </td>
        </ng-container>

        <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef> Opciones </th>
            <td mat-cell *matCellDef="let element">
                <button class="buttontable2" mat-button (click)="restablecer(element.email)"><b>Restablecer Contraseña</b></button>
                <button class="buttontable2" mat-button (click)="eliminarUsuario(element.id)"><b>Eliminar</b></button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[30, 100, 200, dataSource.data.length]" showFirstLastButtons></mat-paginator>
</div>