<div class="card">
    <h5 class="card-header row justify-content-center">Añadir Usuario</h5>

    <div class="card-body">
        <form #agregarArticulo="ngForm">
            <div class="form-group row justify-content-center">
                <label for="InputNombre " class=" ">Usuario </label>
                <div class="col-sm-5 col-sm-offset-3">
                    <input type="text" class="form-control" name="usuario" [(ngModel)]="usuario.user" id="InputUser">
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label for="InputPass " class=" ">Contraseña </label>
                <div class="col-sm-5 col-sm-offset-3">
                    <input type="text" class="form-control" name="password" [(ngModel)]="usuario.password" id="InputPass">
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label for="InpuMail " class=" ">Email </label>
                <div class="col-sm-5 col-sm-offset-3">
                    <input type="text" class="form-control" name="email" [(ngModel)]="usuario.email" id="InputMail">
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label for="SelecNivel" class="  ">Tipo de Usuario: </label>
                <div class="col-sm-5 ">
                    <ng-select style="text-align:center;" [items]="nivel" name="nivel" id="SelectNivel" bindLabel="lvl" bindValue="short" placeholder="Seleccione tipo de usuario" [(ngModel)]="usuario.nivel">
                    </ng-select>
                </div>
            </div>

            <div *ngIf="usuario.nivel == 'GS'" class="form-group row justify-content-center">
                <label for="SelecNivel" class="  ">Representa a: </label>
                <div class="col-sm-5 ">
                    <ng-select style="text-align:center;" [items]="profesionales" name="prof" id="InputProf" bindLabel="apynom" bindValue="id" placeholder="Seleccione profesional" [(ngModel)]="usuario.idprof">
                    </ng-select>
                </div>
            </div>

            <div style=" text-align: center;">
                <button (click)="OnSubmit()" class="btn btn-primary">Añadir</button>
            </div>

        </form>
    </div>
</div>