<div class="card">
    <div *ngIf="flag==false">
        <h5 class="card-header row justify-content-center">Editar Obra Social</h5>

        <div class="card-body">
            <form #agregarObraSocial="ngForm">
                <div class="form-group row justify-content-center">
                    <label for="InputNombre ">Nombre</label>
                    <div class="col-sm-8 col-sm-offset-3">
                        <input type="text" class="form-control" name="nombre" [(ngModel)]="obrasocial.nombre" id="InputNombre">
                    </div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="InputSigla">Sigla</label>
                    <div class="col-sm-8 col-sm-offset-3">
                        <input type="text" class="form-control" name="sigla" [(ngModel)]="obrasocial.sigla" id="InputSigla">
                    </div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="InputDescripcion ">Descripcion</label>
                    <div class="col-sm-8 col-sm-offset-3">
                        <input type="text" class="form-control" name="descripcion" [(ngModel)]="obrasocial.descripcion" id="InputDescripcion">
                    </div>
                </div>

                <div style=" text-align: center;">
                    <button (click)="actualizar()" class="btn btn-primary">Guardar</button>
                </div>

            </form>
        </div>
    </div>


    <div *ngIf="flag">
        <h5 class="card-header row justify-content-center">Agregar Obra Social</h5>

        <div class="card-body">
            <form #agregarObraSocial="ngForm">
                <div class="form-group row justify-content-center">
                    <label for="InputNombre ">Nombre</label>
                    <div class="col-sm-8 col-sm-offset-3">
                        <input type="text" class="form-control" name="nombre" [(ngModel)]="obrasocial.nombre" id="InputNombre">
                    </div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="InputSigla">Sigla</label>
                    <div class="col-sm-8 col-sm-offset-3">
                        <input type="text" class="form-control" name="sigla" [(ngModel)]="obrasocial.sigla" id="InputSigla">
                    </div>
                </div>

                <div class="form-group row justify-content-center">
                    <label for="InputDescripcion">Descripcion</label>
                    <div class="col-sm-8 col-sm-offset-3">
                        <input type="text" class="form-control" name="descripcion" [(ngModel)]="obrasocial.descripcion" id="InputDescripcion">
                    </div>
                </div>

                <div style=" text-align: center;">
                    <button (click)="OnSubmit()" class="btn btn-primary">Guardar</button>
                </div>

            </form>
        </div>
    </div>
</div>