<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Columns -->
    <ng-container *ngFor="let col of displayedColumns; let i = index" matColumnDef="{{ col }}">
        <th mat-header-cell *matHeaderCellDef> {{ displayNames[i] }} </th>
        <div [hidden]="optionDisplay != 0">
            <td mat-cell *matCellDef="let element"> {{ getElement(i, col) }} </td>
        </div>
        <div [hidden]="optionDisplay != 1">
            <td mat-cell *matCellDef="let element"> {{ getElement(i, col) | currency: '$' }} </td>
        </div>
        <div [hidden]="optionDisplay != 2">
            <td mat-cell *matCellDef=" let element "> {{ getElement(i, col) | date }} </td>
        </div>
    </ng-container>
    <!-- Columns -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>

</table>