<div *ngIf="identidad.rol == 'AD'" class="row center" style="margin-left: 40%;">
    <i class="fa fa-user-md fa-lg fa-2x" style="color: #319997; margin-top: 0.5%;" aria-hidden="true"></i>
    <ng-select style="width:15em; margin-left: 1em;" [items]="profesionales" name="profesionales" id="InputProfesionales" placeholder="Seleccione Profesional" bindLabel="apynom" binValue="id" [(ngModel)]="selectedProfesional" (change)="getCitas()" (remove)="onDelete()">
    </ng-select>
</div>
<div *ngIf="identidad.rol == 'AS' || identidad.rol == 'AS'" class="row center" style="margin-left: 40%;">
    <i class="fa fa-user-md fa-lg fa-2x" style="color: #319997; margin-top: 0.5%;" aria-hidden="true"></i>
    <ng-select style="width:15em; margin-left: 1em;" [items]="profesionales" name="profesionales" id="InputProfesionales" placeholder="Seleccione Profesional" bindLabel="nombreprof" binValue="idprof" [(ngModel)]="selectedProfesional" (change)="getCitas()" (remove)="onDelete()">
    </ng-select>
</div>
<div *ngIf="identidad.rol == 'GS'" class="row center" style="margin-left: 40%;">
    <i class="fa fa-user-md fa-lg fa-2x" style="color: #319997; margin-top: 0.5%;" aria-hidden="true"></i>
    <p style="margin-left: 4%; margin-top: 1%; font-weight: 600; color: #747584"> {{selectedProfesional.apynom}}</p>
</div>
<br>
<div *ngIf="flag2" class="row center" style="margin-left: 47%;">
    <div class="row animated fadeIn">
        <div class="col">
            <i style="color: #745af2" class="fa fa-circle-notch fa-spin fa-2x"></i>
        </div>
    </div>
    <div class="row">
        <div class="col" style="color: #745af2; margin-top: 5%; margin-left: 2%;">
            Cargando...
        </div>
    </div>
</div>
<div class="container" *ngIf="flag">
	<div class="row">
		<div class="col-xs-offset 1 col-xs-11 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
			<div class="btn-toolbar" role="toolbar">
			  <div class="btn-group btn-group-justified" role="group">
				<div class="btn-group" role="group">
					<button id="button-back" class="btn btn-primary bar-button" (click)="semanaAnt()" matTooltip="Semana anterior"><i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i></button>
				</div>
				<div class="btn-group" role="group">
				  <button id="button-now" class="btn btn-primary bar-button" (click)="getCitas()" matTooltip="Semana actual"><i class="fa fa-arrow-down fa-lg" aria-hidden="true"></i></button>
				</div>
				<div class="btn-group" role="group">
				  <button id="button-next" class="btn btn-primary bar-button" (click)="semanaSig()" matTooltip="Semana siguiente"><i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i></button>
				</div>
			  </div>
                <mat-form-field style="margin-left: 2%">
                    <mat-label>Seleccione una fecha</mat-label>
                    <input matInput [matDatepicker]="picker" (dateChange)="calendarCitas('change', $event)">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
			</div>
		</div>
	</div>
</div>

<!-- <div *ngIf="flag" class="row" style="margin-left: 6%;">
    <button mat-button (click)="semanaAnt()" id="button-back"><b>Semana Anterior</b></button>
    <button mat-button (click)="getCitas()" id="button-now" style="margin-left: 27%;">Semana Actual</button>
    <button mat-button (click)="semanaSig()" id="button-next" style="margin-left: 27%;">Semana Siguiente</button>
    <mat-form-field appearance="fill">
        <mat-label>Seleccione una fecha</mat-label>
        <input matInput [matDatepicker]="picker" (dateChange)="calendarCitas('change', $event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div> -->
<br>
<div *ngIf="flag" class="row" style="width: 85em; margin-left: 5%; display: contents; padding:5em;">
    <div style="background:#0091ca; color: white; width: 99%; text-align: center; ">Semana del Lun {{comienzo}} al Dom {{finde}}</div>

    <table class="mat-elevation-z8 animated fadeIn" mat-table [dataSource]="dataSource" matSort >

        <!-- Hora Column -->
        <ng-container matColumnDef="Hora" id="horacell">
            <th mat-header-cell *matHeaderCellDef> Hora </th>
            <td mat-cell *matCellDef="let element"> {{element.Hora}} </td>
        </ng-container>

        <!-- Lunes Column -->
        <ng-container matColumnDef="Lunes">
            <th class="header" mat-header-cell *matHeaderCellDef> Lunes {{week[0]}}</th>
            <td class="text-center" mat-cell *matCellDef="let element">
                <button *ngIf="element.Lunes.paciente == '.' && !element.Lunes.active " mat-button class="button-disabled" [disabled]="true"> {{element.Lunes.paciente}} </button>  
                <button *ngIf="element.Lunes.paciente == '.' && element.Lunes.active " mat-button class="button-new" [ngStyle]="{'background-color': element.Lunes.color, 'color': element.Lunes.color}" (click)="modalCita(element.Lunes.id, element.Lunes.idCons, element.Lunes.horalarga, 'Lun', element.Lunes.estado)"> {{element.Lunes.paciente}} </button> 
                <button *ngIf="element.Lunes.paciente != '.' && element.Lunes.estado == 'PENDIENTE'" class="button-pendiente" mat-button (click)="modalCita(element.Lunes.id, element.Lunes.idCons, element.Lunes.horalarga, 'Lun', element.Lunes.estado)"> {{element.Lunes.paciente}} </button>
                <button *ngIf="element.Lunes.paciente != '.' && element.Lunes.estado == 'CONFIRMADA'" class="button-confirmada" mat-button (click)="modalCita(element.Lunes.id, element.Lunes.idCons, element.Lunes.horalarga, 'Lun', element.Lunes.estado)"> {{element.Lunes.paciente}} </button>
                <button *ngIf="element.Lunes.paciente != '.' && element.Lunes.estado == 'EN_SALA'" class="button-ensala" mat-button (click)="modalCita(element.Lunes.id, element.Lunes.idCons, element.Lunes.horalarga, 'Lun', element.Lunes.estado)"> {{element.Lunes.paciente}} </button>
                <button *ngIf="element.Lunes.paciente != '.' && element.Lunes.estado == 'ATENDIDA'" class="button-atendida" mat-button (click)="modalCita(element.Lunes.id, element.Lunes.idCons, element.Lunes.horalarga, 'Lun', element.Lunes.estado)"> {{element.Lunes.paciente}} </button>
                <button *ngIf="element.Lunes.paciente != '.' && element.Lunes.estado == 'AUSENTE'" class="button-ausente" mat-button (click)="modalCita(element.Lunes.id, element.Lunes.idCons, element.Lunes.horalarga, 'Lun', element.Lunes.estado)"> {{element.Lunes.paciente}} </button>
                <button *ngIf="element.Lunes.paciente != '.' && element.Lunes.estado == 'ANULADA'" class="button-anulada" mat-button (click)="modalCita(element.Lunes.id, element.Lunes.idCons, element.Lunes.horalarga, 'Lun', element.Lunes.estado)"> {{element.Lunes.paciente}} </button>
                <button *ngIf="element.Lunes.paciente != '.' && element.Lunes.estado == 'PRIORITARIA'" class="button-prioritaria" mat-button (click)="modalCita(element.Lunes.id, element.Lunes.idCons, element.Lunes.horalarga, 'Lun', element.Lunes.estado)"> {{element.Lunes.paciente}} </button>
                <button *ngIf="element.Lunes.paciente != '.' && element.Lunes.estado == 'NO DAR TURNO'" class="button-nodarturno" mat-button (click)="modalCita(element.Lunes.id, element.Lunes.idCons, element.Lunes.horalarga, 'Lun', element.Lunes.estado)"> {{element.Lunes.paciente}} </button>
                <button *ngIf="element.Lunes.paciente != '.' && element.Lunes.estado == 'SOBRETURNO'" class="button-sobreturno" mat-button (click)="modalCita(element.Lunes.id, element.Lunes.idCons, element.Lunes.horalarga, 'Lun', element.Lunes.estado)"> {{element.Lunes.paciente}} </button>
            </td>
        </ng-container>

        <!-- Martes Column -->
        <ng-container matColumnDef="Martes">
            <th class="header" mat-header-cell *matHeaderCellDef> Martes {{week[1]}}</th>
            <td class="text-center" mat-cell *matCellDef="let element"> 
                <button *ngIf="element.Martes.paciente == '.' && !element.Martes.active " mat-button class="button-disabled" [disabled]="true"> {{element.Martes.paciente}} </button> 
                <button *ngIf="element.Martes.paciente == '.' && element.Martes.active " mat-button class="button-new" [ngStyle]="{'background-color': element.Martes.color, 'color': element.Martes.color}" (click)="modalCita(element.Martes.id, element.Martes.idCons, element.Martes.horalarga, 'Mar', element.Martes.estado)"> {{element.Martes.paciente}} </button> 
                <button *ngIf="element.Martes.paciente != '.' && element.Martes.estado == 'PENDIENTE'" class="button-pendiente" mat-button (click)="modalCita(element.Martes.id, element.Martes.idCons, element.Martes.horalarga, 'Mar', element.Martes.estado)"> {{element.Martes.paciente}} </button>
                <button *ngIf="element.Martes.paciente != '.' && element.Martes.estado == 'CONFIRMADA'" class="button-confirmada" mat-button (click)="modalCita(element.Martes.id, element.Martes.idCons, element.Martes.horalarga, 'Mar', element.Martes.estado)"> {{element.Martes.paciente}} </button>
                <button *ngIf="element.Martes.paciente != '.' && element.Martes.estado == 'EN_SALA'" class="button-ensala" mat-button (click)="modalCita(element.Martes.id, element.Martes.idCons, element.Martes.horalarga, 'Mar', element.Martes.estado)"> {{element.Martes.paciente}} </button>
                <button *ngIf="element.Martes.paciente != '.' && element.Martes.estado == 'ATENDIDA'" class="button-atendida" mat-button (click)="modalCita(element.Martes.id, element.Martes.idCons, element.Martes.horalarga, 'Mar', element.Martes.estado)"> {{element.Martes.paciente}} </button>
                <button *ngIf="element.Martes.paciente != '.' && element.Martes.estado == 'AUSENTE'" class="button-ausente" mat-button (click)="modalCita(element.Martes.id, element.Martes.idCons, element.Martes.horalarga, 'Mar', element.Martes.estado)"> {{element.Martes.paciente}} </button>
                <button *ngIf="element.Martes.paciente != '.' && element.Martes.estado == 'ANULADA'" class="button-anulada" mat-button (click)="modalCita(element.Martes.id, element.Martes.idCons, element.Martes.horalarga, 'Mar', element.Martes.estado)"> {{element.Martes.paciente}} </button>
                <button *ngIf="element.Martes.paciente != '.' && element.Martes.estado == 'PRIORITARIA'" class="button-prioritaria" mat-button (click)="modalCita(element.Martes.id, element.Martes.idCons, element.Martes.horalarga, 'Mar', element.Martes.estado)"> {{element.Martes.paciente}} </button>
                <button *ngIf="element.Martes.paciente != '.' && element.Martes.estado == 'NO DAR TURNO'" class="button-nodarturno" mat-button (click)="modalCita(element.Martes.id, element.Martes.idCons, element.Martes.horalarga, 'Mar', element.Martes.estado)"> {{element.Martes.paciente}} </button>
                <button *ngIf="element.Martes.paciente != '.' && element.Martes.estado == 'SOBRETURNO'" class="button-sobreturno" mat-button (click)="modalCita(element.Martes.id, element.Martes.idCons, element.Martes.horalarga, 'Mar', element.Martes.estado)"> {{element.Martes.paciente}} </button>
            </td>
        </ng-container>

        <!-- Miércoles Column -->
        <ng-container matColumnDef="Miércoles">
            <th class="header" mat-header-cell *matHeaderCellDef> Miércoles {{week[2]}}</th>
            <td class="text-center" mat-cell *matCellDef="let element">
                <button *ngIf="element.Miercoles.paciente == '.' && !element.Miercoles.active " mat-button class="button-disabled" [disabled]="true"> {{element.Miercoles.paciente}} </button>  
                <button *ngIf="element.Miercoles.paciente == '.' && element.Miercoles.active " mat-button class="button-new" [ngStyle]="{'background-color': element.Miercoles.color, 'color': element.Miercoles.color}" (click)="modalCita(element.Miercoles.id, element.Miercoles.idCons, element.Miercoles.horalarga, 'Mie', element.Miercoles.estado)"> {{element.Miercoles.paciente}} </button> 
                <button *ngIf="element.Miercoles.paciente != '.' && element.Miercoles.estado == 'PENDIENTE'" class="button-pendiente" mat-button (click)="modalCita(element.Miercoles.id, element.Miercoles.idCons, element.Miercoles.horalarga, 'Mie', element.Miercoles.estado)"> {{element.Miercoles.paciente}} </button>
                <button *ngIf="element.Miercoles.paciente != '.' && element.Miercoles.estado == 'CONFIRMADA'" class="button-confirmada" mat-button (click)="modalCita(element.Miercoles.id, element.Miercoles.idCons, element.Miercoles.horalarga, 'Mie', element.Miercoles.estado)"> {{element.Miercoles.paciente}} </button>
                <button *ngIf="element.Miercoles.paciente != '.' && element.Miercoles.estado == 'EN_SALA'" class="button-ensala" mat-button (click)="modalCita(element.Miercoles.id, element.Miercoles.idCons, element.Miercoles.horalarga, 'Mie', element.Miercoles.estado)"> {{element.Miercoles.paciente}} </button>
                <button *ngIf="element.Miercoles.paciente != '.' && element.Miercoles.estado == 'ATENDIDA'" class="button-atendida" mat-button (click)="modalCita(element.Miercoles.id, element.Miercoles.idCons, element.Miercoles.horalarga, 'Mie', element.Miercoles.estado)"> {{element.Miercoles.paciente}} </button>
                <button *ngIf="element.Miercoles.paciente != '.' && element.Miercoles.estado == 'AUSENTE'" class="button-ausente" mat-button (click)="modalCita(element.Miercoles.id, element.Miercoles.idCons, element.Miercoles.horalarga, 'Mie', element.Miercoles.estado)"> {{element.Miercoles.paciente}} </button>
                <button *ngIf="element.Miercoles.paciente != '.' && element.Miercoles.estado == 'ANULADA'" class="button-anulada" mat-button (click)="modalCita(element.Miercoles.id, element.Miercoles.idCons, element.Miercoles.horalarga, 'Mie', element.Miercoles.estado)"> {{element.Miercoles.paciente}} </button>
                <button *ngIf="element.Miercoles.paciente != '.' && element.Miercoles.estado == 'PRIORITARIA'" class="button-prioritaria" mat-button (click)="modalCita(element.Miercoles.id, element.Miercoles.idCons, element.Miercoles.horalarga, 'Mie', element.Miercoles.estado)"> {{element.Miercoles.paciente}} </button>
                <button *ngIf="element.Miercoles.paciente != '.' && element.Miercoles.estado == 'NO DAR TURNO'" class="button-nodarturno" mat-button (click)="modalCita(element.Miercoles.id, element.Miercoles.idCons, element.Miercoles.horalarga, 'Mie', element.Miercoles.estado)"> {{element.Miercoles.paciente}} </button>
                <button *ngIf="element.Miercoles.paciente != '.' && element.Miercoles.estado == 'SOBRETURNO'" class="button-sobreturno" mat-button (click)="modalCita(element.Miercoles.id, element.Miercoles.idCons, element.Miercoles.horalarga, 'Mie', element.Miercoles.estado)"> {{element.Miercoles.paciente}} </button>
            </td>
        </ng-container>

        <!-- Jueves Column -->
        <ng-container matColumnDef="Jueves">
            <th class="header" mat-header-cell *matHeaderCellDef> Jueves {{week[3]}}</th>
            <td class="text-center" mat-cell *matCellDef="let element">
                <button *ngIf="element.Jueves.paciente == '.' && !element.Jueves.active " mat-button class="button-disabled" [disabled]="true"> {{element.Jueves.paciente}} </button>  
                <button *ngIf="element.Jueves.paciente == '.' && element.Jueves.active " mat-button class="button-new" [ngStyle]="{'background-color': element.Jueves.color, 'color': element.Jueves.color}" (click)="modalCita(element.Jueves.id, element.Jueves.idCons, element.Jueves.horalarga, 'Jue', element.Jueves.estado)"> {{element.Jueves.paciente}} </button> 
                <button *ngIf="element.Jueves.paciente != '.' && element.Jueves.estado == 'PENDIENTE'" class="button-pendiente" mat-button (click)="modalCita(element.Jueves.id, element.Jueves.idCons, element.Jueves.horalarga, 'Jue', element.Jueves.estado)"> {{element.Jueves.paciente}} </button>
                <button *ngIf="element.Jueves.paciente != '.' && element.Jueves.estado == 'CONFIRMADA'" class="button-confirmada" mat-button (click)="modalCita(element.Jueves.id, element.Jueves.idCons, element.Jueves.horalarga, 'Jue', element.Jueves.estado)"> {{element.Jueves.paciente}} </button>
                <button *ngIf="element.Jueves.paciente != '.' && element.Jueves.estado == 'EN_SALA'" class="button-ensala" mat-button (click)="modalCita(element.Jueves.id, element.Jueves.idCons, element.Jueves.horalarga, 'Jue', element.Jueves.estado)"> {{element.Jueves.paciente}} </button>
                <button *ngIf="element.Jueves.paciente != '.' && element.Jueves.estado == 'ATENDIDA'" class="button-atendida" mat-button (click)="modalCita(element.Jueves.id, element.Jueves.idCons, element.Jueves.horalarga, 'Jue', element.Jueves.estado)"> {{element.Jueves.paciente}} </button>
                <button *ngIf="element.Jueves.paciente != '.' && element.Jueves.estado == 'AUSENTE'" class="button-ausente" mat-button (click)="modalCita(element.Jueves.id, element.Jueves.idCons, element.Jueves.horalarga, 'Jue', element.Jueves.estado)"> {{element.Jueves.paciente}} </button>
                <button *ngIf="element.Jueves.paciente != '.' && element.Jueves.estado == 'ANULADA'" class="button-anulada" mat-button (click)="modalCita(element.Jueves.id, element.Jueves.idCons, element.Jueves.horalarga, 'Jue', element.Jueves.estado)"> {{element.Jueves.paciente}} </button>
                <button *ngIf="element.Jueves.paciente != '.' && element.Jueves.estado == 'PRIORITARIA'" class="button-prioritaria" mat-button (click)="modalCita(element.Jueves.id, element.Jueves.idCons, element.Jueves.horalarga, 'Jue', element.Jueves.estado)"> {{element.Jueves.paciente}} </button>
                <button *ngIf="element.Jueves.paciente != '.' && element.Jueves.estado == 'NO DAR TURNO'" class="button-nodarturno" mat-button (click)="modalCita(element.Jueves.id, element.Jueves.idCons, element.Jueves.horalarga, 'Jue', element.Jueves.estado)"> {{element.Jueves.paciente}} </button>
                <button *ngIf="element.Jueves.paciente != '.' && element.Jueves.estado == 'SOBRETURNO'" class="button-sobreturno" mat-button (click)="modalCita(element.Jueves.id, element.Jueves.idCons, element.Jueves.horalarga, 'Jue', element.Jueves.estado)"> {{element.Jueves.paciente}} </button>
            </td>
        </ng-container>

        <!-- Viernes Column -->
        <ng-container matColumnDef="Viernes">
            <th class="header" mat-header-cell *matHeaderCellDef> Viernes {{week[4]}}</th>
            <td class="text-center" mat-cell *matCellDef="let element">
                <button *ngIf="element.Viernes.paciente == '.' && !element.Viernes.active " mat-button class="button-disabled" [disabled]="true"> {{element.Viernes.paciente}} </button>  
                <button *ngIf="element.Viernes.paciente == '.' && element.Viernes.active " mat-button class="button-new" [ngStyle]="{'background-color': element.Viernes.color, 'color': element.Viernes.color}" (click)="modalCita(element.Viernes.id, element.Viernes.idCons, element.Viernes.horalarga, 'Vie', element.Viernes.estado)"> {{element.Viernes.paciente}} </button> 
                <button *ngIf="element.Viernes.paciente != '.' && element.Viernes.estado == 'PENDIENTE'" class="button-pendiente" mat-button (click)="modalCita(element.Viernes.id, element.Viernes.idCons, element.Viernes.horalarga, 'Vie', element.Viernes.estado)"> {{element.Viernes.paciente}} </button>
                <button *ngIf="element.Viernes.paciente != '.' && element.Viernes.estado == 'CONFIRMADA'" class="button-confirmada" mat-button (click)="modalCita(element.Viernes.id, element.Viernes.idCons, element.Viernes.horalarga, 'Vie', element.Viernes.estado)"> {{element.Viernes.paciente}} </button>
                <button *ngIf="element.Viernes.paciente != '.' && element.Viernes.estado == 'EN_SALA'" class="button-ensala" mat-button (click)="modalCita(element.Viernes.id, element.Viernes.idCons, element.Viernes.horalarga, 'Vie', element.Viernes.estado)"> {{element.Viernes.paciente}} </button>
                <button *ngIf="element.Viernes.paciente != '.' && element.Viernes.estado == 'ATENDIDA'" class="button-atendida" mat-button (click)="modalCita(element.Viernes.id, element.Viernes.idCons, element.Viernes.horalarga, 'Vie', element.Viernes.estado)"> {{element.Viernes.paciente}} </button>
                <button *ngIf="element.Viernes.paciente != '.' && element.Viernes.estado == 'AUSENTE'" class="button-ausente" mat-button (click)="modalCita(element.Viernes.id, element.Viernes.idCons, element.Viernes.horalarga, 'Vie', element.Viernes.estado)"> {{element.Viernes.paciente}} </button>
                <button *ngIf="element.Viernes.paciente != '.' && element.Viernes.estado == 'ANULADA'" class="button-anulada" mat-button (click)="modalCita(element.Viernes.id, element.Viernes.idCons, element.Viernes.horalarga, 'Vie', element.Viernes.estado)"> {{element.Viernes.paciente}} </button>
                <button *ngIf="element.Viernes.paciente != '.' && element.Viernes.estado == 'PRIORITARIA'" class="button-prioritaria" mat-button (click)="modalCita(element.Viernes.id, element.Viernes.idCons, element.Viernes.horalarga, 'Vie', element.Viernes.estado)"> {{element.Viernes.pacientee}} </button>
                <button *ngIf="element.Viernes.paciente != '.' && element.Viernes.estado == 'NO DAR TURNO'" class="button-nodarturno" mat-button (click)="modalCita(element.Viernes.id, element.Viernes.idCons, element.Viernes.horalarga, 'Vie', element.Viernes.estado)"> {{element.Viernes.pacientee}} </button>
                <button *ngIf="element.Viernes.paciente != '.' && element.Viernes.estado == 'SOBRETURNO'" class="button-sobreturno" mat-button (click)="modalCita(element.Viernes.id, element.Viernes.idCons, element.Viernes.horalarga, 'Vie', element.Viernes.estado)"> {{element.Viernes.paciente}} </button>
            </td>
        </ng-container>

        <!-- Sobreturno Column -->
        <ng-container matColumnDef="Sobreturno">
            <th class="header" mat-header-cell *matHeaderCellDef> Sobreturno </th>
            <td class="text-center" mat-cell *matCellDef="let element">
                <button *ngIf="element.Sobreturno.paciente == '.' && !element.Sobreturno.active " mat-button class="button-disabled" [disabled]="true"> {{element.Sobreturno.paciente}} </button>  
                <button *ngIf="element.Sobreturno.paciente == '.' && element.Sobreturno.active " mat-button class="button-new" [ngStyle]="{'background-color': element.Sobreturno.color, 'color': element.Sobreturno.color}" (click)="modalCita(element.Sobreturno.id, element.Sobreturno.idCons, element.Sobreturno.horalarga, 'Sab', element.Sobreturno.estado)"> {{element.Sobreturno.paciente}} </button> 
                <button *ngIf="element.Sobreturno.paciente != '.' && element.Sobreturno.estado == 'PENDIENTE'" class="button-pendiente" mat-button (click)="modalCita(element.Sobreturno.id, element.Sobreturno.idCons, element.Sobreturno.horalarga, 'Sab', element.Sobreturno.estado)"> {{element.Sobreturno.paciente}} </button>
                <button *ngIf="element.Sobreturno.paciente != '.' && element.Sobreturno.estado == 'CONFIRMADA'" class="button-confirmada" mat-button (click)="modalCita(element.Sobreturno.id, element.Sobreturno.idCons, element.Sobreturno.horalarga, 'Sab', element.Sobreturno.estado)"> {{element.Sobreturno.paciente}} </button>
                <button *ngIf="element.Sobreturno.paciente != '.' && element.Sobreturno.estado == 'EN_SALA'" class="button-ensala" mat-button (click)="modalCita(element.Sobreturno.id, element.Sobreturno.idCons, element.Sobreturno.horalarga, 'Sab', element.Sobreturno.estado)"> {{element.Sobreturno.paciente}} </button>
                <button *ngIf="element.Sobreturno.paciente != '.' && element.Sobreturno.estado == 'ATENDIDA'" class="button-atendida" mat-button (click)="modalCita(element.Sobreturno.id, element.Sobreturno.idCons, element.Sobreturno.horalarga, 'Sab', element.Sobreturno.estado)"> {{element.Sobreturno.paciente}} </button>
                <button *ngIf="element.Sobreturno.paciente != '.' && element.Sobreturno.estado == 'AUSENTE'" class="button-ausente" mat-button (click)="modalCita(element.Sobreturno.id, element.Sobreturno.idCons, element.Sobreturno.horalarga, 'Sab', element.Sobreturno.estado)"> {{element.Sobreturno.paciente}} </button>
                <button *ngIf="element.Sobreturno.paciente != '.' && element.Sobreturno.estado == 'ANULADA'" class="button-anulada" mat-button (click)="modalCita(element.Sobreturno.id, element.Sobreturno.idCons, element.Sobreturno.horalarga, 'Sab', element.Sobreturno.estado)"> {{element.Sobreturno.paciente}} </button>
                <button *ngIf="element.Sobreturno.paciente != '.' && element.Sobreturno.estado == 'PRIORITARIA'" class="button-prioritaria" mat-button (click)="modalCita(element.Sobreturno.id, element.Sobreturno.idCons, element.Sobreturno.horalarga, 'Sab', element.Sobreturno.estado)"> {{element.Sobreturno.paciente}} </button>
                <button *ngIf="element.Sobreturno.paciente != '.' && element.Sobreturno.estado == 'NO DAR TURNO'" class="button-nodarturno" mat-button (click)="modalCita(element.Sobreturno.id, element.Sobreturno.idCons, element.Sobreturno.horalarga, 'Sab', element.Sobreturno.estado)"> {{element.Sobreturno.paciente}} </button>
                <button *ngIf="element.Sobreturno.paciente != '.' && element.Sobreturno.estado == 'SOBRETURNO'" class="button-sobreturno" mat-button (click)="modalCita(element.Sobreturno.id, element.Sobreturno.idCons, element.Sobreturno.horalarga, 'Sab', element.Sobreturno.estado)"> {{element.Sobreturno.paciente}} </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

</div>

<br>