#img-doc {
    width: 3%;
    margin: 1%;
}

button {
    background-color: #73a777;
    color: white;
    font-weight: bold;
    /* margin-left: 15% !important; */
    width: 15em !important;
}

.bar-button{
    background-color: #73a777;
    color: white;
    font-weight: bold;
    margin-left: 0 !important;
    width: min-content !important;
    height: min-content !important;
}

.button-disabled {
    background-color: white;
    color: white;
    /* margin-left: 4%; */
    font-weight: lighter;
    font-size: small;
    width: 15em !important;
}

.button-new {
    /* background-color: #f4f4f4;
    color: #f4f4f4; */
    /* margin-left: 4%; */
    font-weight: lighter;
    font-size: small;
    width: 15em !important;
}

.button-pendiente {
    background-color: #ff8b55;
    color: white;
    /* margin-left: 4%; */
    font-weight: lighter;
    font-size: small;
    width: 15em !important;
}

.button-confirmada {
    background-color: #24bd52;
    color: white;
    /* margin-left: 4%; */
    font-weight: lighter;
    font-size: small;
    width: 15em !important;
}

.button-ensala {
    background-color: #d8bfb6;
    color: white;
    /* margin-left: 4%; */
    font-weight: lighter;
    font-size: small;
    width: 15em !important;
}

.button-atendida {
    background-color: #00b3ff;
    color: white;
    /* margin-left: 4%; */
    font-weight: lighter;
    font-size: small;
    width: 15em !important;
}

.button-ausente {
    background-color: #131313;
    color: white;
    /* margin-left: 4%; */
    font-weight: lighter;
    font-size: small;
    width: 15em !important;
}

.button-anulada {
    background-color: #ed1c23;
    color: white;
    /* margin-left: 4%; */
    font-weight: lighter;
    font-size: small;
    width: 15em !important;
}

.button-prioritaria {
    background-color: #ded861;
    color: white;
    /* margin-left: 4%; */
    font-weight: lighter;
    font-size: small;
    width: 15em !important;
}

.button-nodarturno {
    background-color: #bfbfbf;
    color: white;
    /* margin-left: 4%; */
    font-weight: lighter;
    font-size: small;
    width: 15em !important;
}

.button-sobreturno {
    background-color: #6464ff;
    color: white;
    /* margin-left: 4%; */
    font-weight: lighter;
    font-size: small;
    width: 15em !important;
}

.mat-header-cell {
    font-size: 14px !important;
    text-align: center;
}

.header{
    position: sticky;
    color: black;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: lightgrey;
    width: 20em !important;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding: 0.3em !important;
    text-align: center !important;
}