<div>
    <div class="mb-3">
        <!-- Titulo -->
        <div style="background-color: none; height: 2em; text-align: center;">
            <span style="color: #00b7f4"> {{data.element.apynom}} - DNI: {{data.element.doc}} - Obra Social: {{data.element.nameobrasocial}} </span>
        </div>

        <div class="row ml-3 mt-2">
            <div class="col-md-4">
                <div class="row"><strong>Fecha de Nac:&nbsp; </strong> {{data.element.nac}}</div>
                <div class="row"><strong>Sexo:&nbsp; </strong> {{sexo}}</div>
                <div class="row"><strong>Estado Civil:&nbsp; </strong> {{data.element.estciv}}</div>
            </div>
            <div class="col-md-4">
                <div class="row"><strong>Dirección:&nbsp; </strong> {{data.element.direcc}}</div>
                <div class="row"><strong>Localidad:&nbsp; </strong> {{data.element.loc}}</div>
                <div class="row"><strong>Prov - CP:&nbsp; </strong> {{data.element.prov}}</div>
            </div>
            <div class="col-md-4">
                <div class="row"><strong>Tel:&nbsp; </strong> {{data.element.tel}}</div>
                <div class="row"><strong>Cel:&nbsp; </strong> {{data.element.cel}}</div>
                <div class="row"><strong>E-mail:&nbsp; </strong> {{data.element.mail}}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <mat-tab-group style="width: 55em; height: 35em; position: relative; border-bottom: darkslategray; border-width: medium; margin-top:5%;" dynamicHeight>

                    <!-- HISTORIA CLINICA -->
                    <mat-tab label="Historia Clínica">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-11">
                                <div class="row mt-4">
                                    <div style="margin-left: 2px; font-weight: bold"> <label style="font-weight: normal"> Visita Actual: &nbsp; </label> <label class="text-muted" style="font-weight: normal; "> {{fecha}}</label> </div>
                                </div>

                                <form #f="ngForm" (ngSubmit)="onSubmit()" novalidate>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div>
                                                <label class="antecedentes"> Motivo</label>
                                            </div>
                                            <div class="row">
                                                <input [(ngModel)]="historia.motivo" type="text" class="form-control"   name="motivo">
                                            </div>
        
                                            <div>
                                                <label class="antecedentes"> Diagnostico</label>
                                            </div>
                                            <div class="row">
                                                <input [(ngModel)]="historia.diagnostico" type="text" class="form-control"   name="diagnostico">
                                            </div>
        
                                            <div>
                                                <label class="antecedentes">Tratamiento </label>
                                            </div>
                                            <div class="row">
                                                <input [(ngModel)]="historia.tratamiento" class="form-control"   name="tratamiento">
                                            </div>
        
                                            <div>
                                                <label class="antecedentes">Proxima Cita</label>
                                            </div>
                                            <div class="row">
                                                <input [(ngModel)]="historia.proximacita" class="form-control"   name="proxCita">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div>
                                                <label class="antecedentes">Evolución / Notas</label>
                                            </div>
                                            <div class="row">
                                                <textarea [(ngModel)]="antecedentes.evol" class="form-control"  rows="13" name="evol"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </form>
                            </div>
                            <button class="btn btn-primary" style="margin-left: 70%;margin-top: 2%" (click)="guardarHistoria()"><b>Guardar</b></button>
                        </div>
                    </mat-tab>

                    <!-- ANTERIORES -->
                    <mat-tab style="font-weight: 700; overflow-y: scroll;" label="Anteriores">
                        <div *ngIf="flagHistorias" class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-11">
                                <br>
                                <div class="row" *ngFor="let historia of historias; let i = index">
                                    <div class="col-md-10 m-b-10">
                                        <label style="font-weight: bold;">
                                            {{ historia.fecha }}
                                        </label>

                                        <div class="clasex">
                                            <div class="row m-1" style="font-weight: 900;">
                                                <div class="col-md-3 p-l-10"> Diagnostico </div>
                                                <div class="col-md-3 p-l-10"> Motivo </div>
                                                <div class="col-md-6 p-l-10"> Tratamiento </div>
                                            </div>

                                            <div class="row m-1">
                                                <div class="col-md-3 idea p-l-10">
                                                    {{ historia.diagnostico}}
                                                </div>
                                                <div class="col-md-3 idea p-l-10">
                                                    {{historia.motivo}}
                                                </div>

                                                <div class="col-md-6 idea p-l-10">
                                                    {{historia.tratamiento}}
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="!flagHistorias" class="alert alert-primary mt-4 text-center" role="alert">
                            No hay registros de visitas anteriores.
                        </div>
                    </mat-tab>

                    <!-- ANTECEDENTES -->
                    <mat-tab style="font-weight: 700;" label="Antecedentes">
                        <div class="col-md-11 ml-4 mt-4">
                            <form #f="ngForm" novalidate>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div><label class="antecedentes"> Antecedentes Personales</label></div>
                                        <div class="row">
                                            <textarea [(ngModel)]="antecedentes.apers" class="form-control" rows="3" name="AntecedentesPersonales" type="text"></textarea>
                                        </div>
    
                                        <div><label class="antecedentes"> Antecedentes Familiares</label></div>
                                        <div class="row">
                                            <textarea [(ngModel)]="antecedentes.afam" class="form-control" rows="3" name="AntecedentesFamiliares" type="text"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div><label class="antecedentes">Evolucion / Notas </label></div>
                                        <div class="row">
                                            <textarea [(ngModel)]="antecedentes.evol" class="form-control" rows="9" name="Evolucion" type="text"></textarea>
                                        </div>
                                    </div>
                                </div>    
                            </form>
                            <button class="btn btn-primary" submit style="margin-left: 70%;margin-top: 15%" (click)="guardarAntecedente()"><b>Guardar</b></button>
                        </div>
                    </mat-tab>

                    <!-- ESTUDIOS -->
                    <mat-tab style="font-weight: 700;" label="Estudios">
                        <div class="col-md-11 ml-4 mt-4">
                            <form #f="ngForm" novalidate>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text-center"><label class="antecedentes"> Listado de estudios</label></div>
                                        <button class="btn btn-primary" submit style="margin-left: 80%;" (click)="saveFile()"><i class="fa fa-upload"></i><b>  Subir</b></button>
                                    </div>
                                    <div class="col-md-12">
                                        <div *ngIf="!flagFiles" class="alert alert-primary mt-4 text-center" role="alert">
                                            No hay estudios cargados en este paciente.
                                        </div>
                                        <div *ngIf="flagFiles" class="alert alert-primary mt-4 text-center" role="alert">
                                            <table class="mat-elevation-z8 animated fadeIn" mat-table [dataSource]="dataSource" matSort style="width:99%;">
                                                <ng-container matColumnDef="archivo">
                                                    <th mat-header-cell *matHeaderCellDef> Archivo </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.file}} </td>
                                                </ng-container>
                                        
                                                <ng-container matColumnDef="opciones">
                                                    <th mat-header-cell *matHeaderCellDef> Opciones </th>
                                                    <td mat-cell *matCellDef="let element"> <a (click)="downloadFile(element.file)"><b>Descargar</b></a> </td>
                                                </ng-container>
                                        
                                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>    
                            </form>
                            
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>