#first-table {
    margin-left: 2px;
    font-weight: bold;
}

.borders {
    margin-left: -5%;
    Border: double 1px grey;
    padding: 51px;
    background-clip: content-box;
    border-width: 8px;
    width: 100%;
}

.inp {
    border: solid 1px grey;
    padding: 5px;
    height: 1.5em;
    background-clip: content-box;
    background-color: white;
    line-height: 1.5;
    font-size: 20px;
    text-indent: 0.5rem;
    width: 100%;
}

.antecedentes {
    color: #999;
    margin-top: 10px;
}

.clasex {
    background: white;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .4), 0 8px 10px 1px rgba(0, 0, 0, 0.26), 0 3px 14px 2px rgba(0, 0, 0, .18);
    /* padding: 5px; */
}

.form-control {
    width: 80%;
}

.mat-tab-group-dynamic-height .mat-tab-body-content {
    overflow: scroll !important;
}


/* 
div.table {
    border: 1px solid #000;
    display: inline-block;
    padding: 1px;



}
div.table table {
    border: 1px solid #F00;
}
*/