<div class="card">
    <div *ngIf="flag==false">
        <h5 class="card-header row justify-content-center">Editar Especialidad</h5>

        <div class="card-body">
            <form #agregarEspecialidad="ngForm">
                <div class="form-group row justify-content-center">
                    <label for="InputNombre " class=" ">Especialidad </label>
                    <div class="col-sm-10 col-sm-offset-3">
                        <input type="text" class="form-control" name="nombreEspecialidad" [(ngModel)]="especialidad.especialidad" id="InputEspecialidad">
                    </div>
                </div>

                <div style=" text-align: center;">
                    <button (click)="actualizar()" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>


    <div *ngIf="flag">
        <h5 class="card-header row justify-content-center">Añadir Especialidad</h5>

        <div class="card-body">
            <form #agregarEspecialidad="ngForm">
                <div class="form-group row justify-content-center">
                    <label for="InputNombre " class=" ">Especialidad </label>
                    <div class="col-sm-10 col-sm-offset-3">
                        <input type="text" class="form-control" name="nombreEspecialidad" [(ngModel)]="especialidad.especialidad" id="InputEspecialidad">
                    </div>
                </div>

                <div style=" text-align: center;">
                    <button (click)="OnSubmit()" class="btn btn-primary">Añadir</button>
                </div>

            </form>
        </div>
    </div>
</div>