#img-doc {
    width: 3%;
    margin: 1%;
}

button {
    background-color: #73a777;
    color: white;
    font-weight: bold;
}

.buttontable {
    background-color: #c1cec278;
    color: #696262;
    font-weight: lighter;
}

.buttontable2 {
    background-color: #00b3ff;
    color: white;
    font-weight: lighter;
}

.mat-header-cell {
    font-size: 14px !important;
}