<div class="row center" style="margin-left: 40%;">
    <p style="font-weight: 600; color: #747584">Administrar Relaciones Usuario - Profesional</p>
    

</div>

<div class="row center" style="margin-left: 40%;">
    <img style="width: 4%;" id="img-doc" src="../assets/images/doctor.png">
    <ng-select style="width:15em; margin-top: 1.4%;" [items]="usuarios" name="usuarios" id="InputUsuarios" placeholder="Seleccione Usuario" bindLabel="username" binValue="id" [(ngModel)]="selectedUser" (change)="getRel()" (remove)="onDelete()">
    </ng-select>
    <button mat-button (click)="agregarRelacion()" id="button-next" style="margin-left: 2%; width:15em; height: fit-content; margin-top: 1.3%;">+ Añadir Relacion</button>
</div>
<br>
<div *ngIf="flag" class="row" style="width: 90%; margin-left: 5%;">

    <table class="mat-elevation-z8 animated fadeIn" mat-table [dataSource]="dataSource" matSort style="width:99%;">

        <ng-container matColumnDef="profesional">
            <th mat-header-cell *matHeaderCellDef> Profesional </th>
            <td mat-cell *matCellDef="let element"> {{element.nombreprof}} </td>
        </ng-container>

        <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef> Opciones </th>
            <td mat-cell *matCellDef="let element"> <button class="buttontable2" (click)="borrarRelacion(element.id)" mat-button><b>Borrar</b></button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<br>