<style>
    .mat-form-field {
        width: 100%;
    }
</style>
<div class="container">
    <div class="row justify-content-center">
        <form [formGroup]="commentForm">
            <div class="col-md-12">
                <mat-card>
                    <mat-card-title>
                        <div class="row">
                            <div class="col-md-12">
                                {{ title }}
                            </div>
                        </div>
                    </mat-card-title>
                    <mat-card-content>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field appearance="outline">
                                    <mat-label> {{ input_title }}</mat-label>
                                    <input formControlName="comment" matInput [placeholder]="placeholder">
                                    <mat-icon matSuffix>{{ mat_icon }}</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="row">
                            <div class="col-md-12" style="text-align: center">
                                <button (click)="saveComment()" class="btn btn-primary m-r-10"> {{ btn_title }}</button>
                                <button (click)="closeDialog()" class="btn btn-danger"> Cancelar</button>
                            </div>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        </form>
    </div>
</div>