<div class="card">
    <h5 class="card-header row justify-content-center">Añadir Profesional</h5>

    <div class="card-body">

        <form #agregarProfesional="ngForm">
            <div class="form-group row justify-content-center">
                <label for="InputProfesional" class=" ">Nombre (*)</label>
                <div class="col-sm-5 col-sm-offset-3">
                    <input matTooltip="Requerido" type="text" class="form-control" name="nombreProfesional" [(ngModel)]="profesional.apynom" id="InputProfesional">
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label for="SelecTipodoc" class="  ">Tipo DOC: (*)</label>
                <div class="col-sm-5 ">
                    <ng-select matTooltip="Requerido" style="text-align:center;" [items]="tipodoc" name="tipodoc" id="SelectTipodoc" bindLabel="tipodoc" binValue="id" placeholder="Seleccione tipo de documento" [(ngModel)]="profesional.tipodoc">
                    </ng-select>
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label for="InputDoc" class=" ">Documento: (*)</label>
                <div class="col-sm-5">
                    <input matTooltip="Requerido" type="text" class="form-control" name="documento" [(ngModel)]="profesional.doc" id="InputDoc">
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label for="InputMatricula" class=" ">Matricula (*) </label>
                <div class="col-sm-5">
                    <input type="text" matTooltip="Requerido" class="form-control" name="matricula" [(ngModel)]="profesional.matricula" id="InputMatricula">
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label for="SelectObraSocial" class="  ">Especialidad (*)</label>
                <div class="col-sm-5 ">
                    <ng-select matTooltip="Requerido" style="text-align:center;" [items]="especialidades" name="id" id="SelectEspecialidades" bindLabel="especialidad" binValue="id" placeholder="Seleccione una especialidad" [(ngModel)]="selectedEspecialidad">
                    </ng-select>
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label for="InputNac" class=" ">Fecha de nacimiento:</label>
                <div class="col-sm-5">
                    <input type="date" class="form-control" name="nac" [(ngModel)]="profesional.nac" id="InputNac">
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label for="InputTel" class=" ">Tel Principal: (*)</label>
                <div class="col-sm-5">
                    <input type="text" matTooltip="Requerido" class="form-control" name="tel" [(ngModel)]="profesional.tel" id="InputTel">
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label for="InputCel" class=" ">Celular:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="cel" [(ngModel)]="profesional.cel" id="InputCel">
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label for="InputDirecc" class=" ">Domicilio:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="direcc" [(ngModel)]="profesional.direcc" id="InputDirecc">
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label for="InputLoc" class=" ">Localidad:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="loc" [(ngModel)]="profesional.loc" id="InputLoc">
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label for="InputCP" class=" ">Codigo Postal:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="cp" [(ngModel)]="profesional.cp" id="InputCP">
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label for="InputProv" class=" ">Provincia: (*)</label>
                <div class="col-sm-5">
                    <!-- <input type="text" class="form-control" name="prov" [(ngModel)]="paciente.prov" id="InputProv"> -->
                    <!-- TEST -->
                    <ng-select matTooltip="Requerido" style="text-align:center;" [items]="provincias" name="prov" id="SelectProvincia" bindLabel="provincias" placeholder="Seleccione una provincia" [(ngModel)]="profesional.prov">
                    </ng-select>
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label for="InputMail" class=" ">E-mail: (*)</label>
                <div class="col-sm-5">
                    <input matTooltip="Requerido" type="email" class="form-control" name="mail" [(ngModel)]="profesional.mail" id="InputMail">
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label for="InputNotas" class=" ">Notas: </label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="notas" [(ngModel)]="profesional.notas" id="InputNotas">
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label for="InputUsuario" class=" ">Usuario</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="estciv" [(ngModel)]="profesional.usuario" id="InputUsuario">
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label for="InputPassword" class=" ">Password</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" name="usuario" [(ngModel)]="profesional.password" id="InputPassword">
                </div>
            </div>

            <div style=" text-align: center;">
                <button (click)="OnSubmit()" class="btn btn-primary">Añadir</button>
            </div>

        </form>
        <div class="justify-content-right">*Campos obligatorios</div>
    </div>
</div>