<div class="row" style="width: 90%; margin-left: 5%;">

    <div class="col-md-6 text-center">
        <a>
            <button mat-button (click)="addHorario()" id="button-next" style="margin-left: 55%;">+ Añadir nuevo horario</button>
        </a>
    </div>

    <br>
    <table class="mat-elevation-z8 animated fadeIn" mat-table [dataSource]="dataSource" style="width:99%;">

        <!-- Dia Column -->
        <ng-container matColumnDef="dia">
            <th mat-header-cell *matHeaderCellDef> Dia </th>
            <td mat-cell *matCellDef="let element"> {{element.dia}} </td>
        </ng-container>

        <!-- Localidad Column -->
        <ng-container matColumnDef="horaini">
            <th mat-header-cell *matHeaderCellDef>Desde</th>
            <td mat-cell *matCellDef="let element"> {{element.horaini}} </td>
        </ng-container>

        <!-- Provincia Column -->
        <ng-container matColumnDef="horafin">
            <th mat-header-cell *matHeaderCellDef> Hasta</th>
            <td mat-cell *matCellDef="let element"> {{element.horafin}} </td>
        </ng-container>

        <!--telefono Column -->
        <ng-container matColumnDef="domicilio">
            <th mat-header-cell *matHeaderCellDef> Domicilio </th>
            <td mat-cell *matCellDef="let element"> {{element.domicilio}} </td>
        </ng-container>



        <!-- Opciones Column  -->
        <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef> Opciones </th>
            <td mat-cell *matCellDef="let element">
                <button class="buttontable2" mat-button (click)="updateHorario(element)"><b>Editar</b></button>
                <!-- HACER -->

                <button class="buttontable2" mat-button (click)="deleteHorario(element.id)"><b>Eliminar</b></button>
                <!-- HACER -->

            </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>