<div class="card" >
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <button (click)="close()" class="btn pull-right" style="background-color: white; border: 0px;"><i class="fas fa-times"></i></button>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <p id="title" class="center" style="font-size: 1.2em;"><strong>Datos de la cita</strong></p>
            </div>
        </div>
        
        
        <div class="row" style="font-size:10px;  line-height: 1.8;">
            <table width="90%" style="padding:0;">
                <tr>
                    <td id="td-left" width="26%">Profesional</td>
                    <td width="74%"> {{data.profesional.apynom}} </td>
                </tr>
                <tr>
                    <td id="td-left">Consultorio</td>
                    <td width="74%"> {{data.consultorio}}</td>
                </tr>
                <tr>
                    <td id="td-left">Día </td>
                    <td width="74%"> {{data.diaSemana}} </td>
                </tr>
                <tr>
                    <td id="td-left">Hora</td>
                    <td width="74%"> {{horario}} </td>
                </tr>
                <tr>
                    <td id="td-left">Notas</td>
                    <td width="74%"> 
                        <input type="text" class="form-control" name="notas" [(ngModel)]="notas" id="InputNotas">
                    </td>
                </tr>
                <tr>
                    <td id="td-left">Tipo de cita</td>
                    <td width="74%">  
                        <ng-select style="text-align:center;" [items]="tipoCita" name="tiposcita" id="tipoCita" bindLabel="tipo" binValue="tipo" placeholder="..." [(ngModel)]="selectedTipo">
                        </ng-select>
                    </td>
                </tr>
        
        
            </table>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <p id="title" class="center" style="font-size: 1.2em;"><strong>Datos del paciente</strong></p>
            </div>
        </div>
        
        <div class="row" style="font-size:10px; line-height: 1.8;">
        <form (ngSubmit)="saveCita(valid)">
            <table style="padding:0;">
                <tr>
                    <td id="td-left">Documento</td>
                    <td width="74%"> 
                        <input (keyup.enter)="buscarPac()" type="number" max="8" class="form-control" name="doc" [(ngModel)]="paciente.doc" id="InputDoc">
                    </td>
                </tr>
                <tr>
                    <td id="td-left">Apellido y nombre</td>
                    <td width="74%"> 
                        <input type="text" class="form-control" name="apynom" [(ngModel)]="paciente.apynom" id="InputNom">
                    </td>
                </tr>
                <tr>
                    <td id="td-left">Sexo</td>
                    <td width="74%">  
                        <ng-select style="text-align:center;" [items]="sexo" name="selectSexo" id="selectSexo" bindLabel="tipo" binValue="tipo" placeholder="..." [(ngModel)]="selectedSex" required>
                        </ng-select>
                    </td>
                </tr>
                <tr>
                    <td id="td-left">Teléfono</td>
                    <td width="74%"> 
                        <input type="number" min="7" max="11" class="form-control" name="tel" [(ngModel)]="paciente.tel" id="InputTel">
                    </td>
                </tr>
                <tr>
                    <td id="td-left">Celular</td>
                    <td width="74%"> 
                        <input type="number" min="10" max="14" class="form-control" name="cel" [(ngModel)]="paciente.cel" id="InputCel">
                    </td>
                </tr>
                <tr>
                    <td id="td-left">Obra Social</td>
                    <td width="74%">  
                        <ng-select style="text-align:center;" [items]="selectOS" name="selectOS" id="selectOS" bindLabel="nombre" binValue="id" placeholder="..." [(ngModel)]="selectedOS" required>
                        </ng-select>
                    </td>
                </tr>
                <tr>
                    <td id="td-left">Fecha de Nacimiento</td>
                    <td width="74%"> 
                        <input type="text" class="form-control" name="nac" [(ngModel)]="paciente.nac" id="InputNac">
                    </td>
                </tr>
        
                <tr>
                    <td id="td-left">Direccion</td>
                    <td width="74%"> 
                        <input type="text" class="form-control" name="direcc" [(ngModel)]="paciente.direcc" id="InputDirecc">
                    </td>
                </tr>
        
                <tr>
                    <td id="td-left">Localidad</td>
                    <td width="74%"> 
                        <input type="text" class="form-control" name="loc" [(ngModel)]="paciente.loc" id="InputLoc">
                    </td>
                </tr>
        
                <tr>
                    <td id="td-left">Provincia</td>
                    <td width="74%"> 
                        <input type="text" class="form-control" name="prov" [(ngModel)]="paciente.prov" id="InputProv">
                    </td>
                </tr>
        
            </table>
            <br><br>
            <div class="row">
                <div class="col-md-12" style="margin-left: 32%">
                    <button type="submit" class="btn center">Guardar</button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
