<div class="row" style="width: 90%; margin-left: 5%;">

    <div class="col-md-6">
        <mat-form-field class="animated fadeIn">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Búsqueda de pacientes">
        </mat-form-field>
    </div>

    <div class="col-md-6 text-center">
        <a>
            <button mat-button (click)="addPaciente()" id="button-next" style="margin-left: 55%;">+ Añadir Paciente</button>
        </a>
    </div>

    <table class="mat-elevation-z8 animated fadeIn" mat-table [dataSource]="dataSource" style="width:99%;">

        <ng-container matColumnDef="apynom">
            <th mat-header-cell *matHeaderCellDef> Apellido y nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.apynom}} </td>
        </ng-container>

        <ng-container matColumnDef="doc">
            <th mat-header-cell *matHeaderCellDef> DNI </th>
            <td mat-cell *matCellDef="let element"> {{element.doc}} </td>
        </ng-container>

        <ng-container matColumnDef="ficha">
            <th mat-header-cell *matHeaderCellDef> Coseguro/ficha </th>
            <td mat-cell *matCellDef="let element"> {{element.ficha}} </td>
        </ng-container>
        <!-- 
        <ng-container matColumnDef="profesional">
            <th mat-header-cell *matHeaderCellDef>Profesional</th>
            <td mat-cell *matCellDef="let element"> {{element.profesional}} </td>
        </ng-container> -->

        <ng-container matColumnDef="tel">
            <th mat-header-cell *matHeaderCellDef>Tel Principal</th>
            <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
        </ng-container>

        <ng-container matColumnDef="historia">
            <th mat-header-cell *matHeaderCellDef> Historia Clínica </th>
            <td mat-cell *matCellDef="let element">
                <button matTooltip="Ver historia" class="buttontable" style="margin-left: 2%;" mat-button (click)="openDialogHistory(element)"><i class="fas fa-notes-medical"></i></button>
            </td>
        </ng-container>

        <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef> Opciones </th>
            <td mat-cell *matCellDef="let element">
                <button matTooltip="Editar Paciente" class="buttontable2" mat-button (click)="editarPaciente(element)"><i class="fas fa-edit"></i> </button>
                <button matTooltip="Borrar Paciente" class="buttontable2" mat-button (click)="borrarPaciente(element.id)"><i class="fas fa-trash-alt"></i> </button>
                <!-- IMPROVE agrandar icons -->
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[30, 100, 200, dataSource.data.length]" showFirstLastButtons></mat-paginator>
</div>