
    <mat-card>
        <mat-card-title>
            <div class="row">
                <div class="col"> 
                    <div class="m-l-10 m-t-10 m-b-10" style="text-align: left;font-weight: bold; font-size: 20px;"><i class="fas fa-cogs"></i>  Configuración de usuario </div>
                </div>
                <div class="col">
                    <div class="m-t-10 m-b-10" style="text-align: right;  font-size: 15px; color: #0080ff;"><i class="fas fa-user-circle"></i> Usuario: {{ usuario.username }}</div>
                </div>
            </div>
        </mat-card-title>
    </mat-card>
    
    <mat-card class="m-t-20">
        <mat-card-title>
            <div class="row">
                <div class="col">
                    <div class="col-md-10" style="text-align: left; font-size: 16px;"><i class="fas fa-key"></i> Cambiar contraseña </div>
                </div>
            </div>
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content><br/> 
            <div class="m-l-10 p-t-10" style="font-weight: bold; color: grey;">E-mail: {{ usuario.email }}</div><br/>
            <div class="m-l-10 p-t-10">
                <input matInput type="password" #pw1 placeholder="Nueva contraseña" [(ngModel)]="pass1" name="pw1" id="InputPass1"> 
            </div>
            <div class="m-l-10 p-t-10">
                <input type="password" #pw2 matInput placeholder="Repetir contraseña" [(ngModel)]="pass2" name="pw2" id="InputPass2">
            </div><br/>  
            <div class="m-l-10 p-t-10">
                <button class="btn  btn-primary" type="submit" (click)="changePassword()">Cambiar</button>
            </div><br/>
        </mat-card-content>
    </mat-card>