<div *ngIf="identidad.rol == 'AD'" class="row center" style="margin-left: 40%;">
    <i class="fa fa-user-md fa-lg fa-2x" style="color: #319997; margin-top: 0.5%;" aria-hidden="true"></i>
    <ng-select style="width:15em; margin-left: 1em;" [items]="profesionales" name="profesionales" id="InputProfesionales" placeholder="Seleccione Profesional" bindLabel="apynom" binValue="id" [(ngModel)]="selectedProfesional" (change)="getCitas()" (remove)="onDelete()">
    </ng-select>
</div>
<div *ngIf="identidad.rol == 'AS' || identidad.rol == 'AS'" class="row center" style="margin-left: 40%;">
    <i class="fa fa-user-md fa-lg fa-2x" style="color: #319997; margin-top: 0.5%;" aria-hidden="true"></i>
    <ng-select style="width:15em; margin-left: 1em;" [items]="profesionales" name="profesionales" id="InputProfesionales" placeholder="Seleccione Profesional" bindLabel="nombreprof" binValue="idprof" [(ngModel)]="selectedProfesional" (change)="getCitas()" (remove)="onDelete()">
    </ng-select>
</div>
<div *ngIf="identidad.rol == 'GS'" class="row center" style="margin-left: 40%;">
    <i class="fa fa-user-md fa-lg fa-2x" style="color: #319997; margin-top: 0.5%;" aria-hidden="true"></i>
    <p style="margin-left: 4%; margin-top: 1%; font-weight: 600; color: #747584"> {{selectedProfesional.apynom}}</p>
</div>
<br>
<div *ngIf="flag2" class="row center" style="margin-left: 47%;">
    <div class="row animated fadeIn">
        <div class="col">
            <i style="color: #745af2" class="fa fa-circle-notch fa-spin fa-2x"></i>
        </div>
    </div>
    <div class="row">
        <div class="col" style="color: #745af2; margin-top: 5%; margin-left: 2%;">
            Cargando...
        </div>
    </div>
</div>

<div class="container" *ngIf="flag">
	<div class="row">
		<div class="col-xs-offset 1 col-xs-11 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
			<div class="btn-toolbar" role="toolbar">
			  <div class="btn-group btn-group-justified" role="group">
				<div class="btn-group" role="group">
					<button id="button-back" class="btn btn-primary" (click)="semanaAnt()" matTooltip="Semana anterior"><i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i></button>
				</div>
				<div class="btn-group" role="group">
				  <button id="button-now" class="btn btn-primary" (click)="getCitas()" matTooltip="Semana actual"><i class="fa fa-arrow-down fa-lg" aria-hidden="true"></i></button>
				</div>
				<div class="btn-group" role="group">
				  <button id="button-next" class="btn btn-primary" (click)="semanaSig()" matTooltip="Semana siguiente"><i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i></button>
				</div>
			  </div>
			</div>
		</div>
	</div>
</div>
<!-- <div *ngIf="flag" class="row" style="margin-left: 20%;">
    <button mat-button (click)="semanaAnt()" id="button-back"><b>Semana Anterior</b></button>
    <button mat-button (click)="getCitas()" id="button-now" style="margin-left: 27%;"><b>Semana Actual</b></button>
    <button mat-button (click)="semanaSig()" id="button-next" style="margin-left: 27%;">Semana Siguiente</button>
</div> -->
<br>
<div *ngIf="flag" class="row" style="width: 90%; margin-left: 5%;">
    <div style="background:#0091ca; color: white; width: 99%; text-align: center;">Semana del Lun {{comienzo}} al Dom {{finde}}</div>
    <div *ngIf="lengthflag" style="color: #747584; width: 99%; text-align: center;"><i class="fa fa-search"></i> No se encontraron citas en la semana solicitada</div>
    <table *ngIf="!lengthflag" class="mat-elevation-z8 animated fadeIn" mat-table [dataSource]="dataSource" matSort style="width:99%;">

        <!-- Dia Column -->
        <ng-container matColumnDef="dia">
            <th mat-header-cell *matHeaderCellDef> Dia </th>
            <td mat-cell *matCellDef="let element"> {{element.dia}} </td>
        </ng-container>

        <!-- Fecha Column -->
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha y Hora </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
        </ng-container>

        <!-- Notas Column -->
        <ng-container matColumnDef="notas">
            <th mat-header-cell *matHeaderCellDef> Notas </th>
            <td mat-cell *matCellDef="let element"> {{element.notas}} </td>
        </ng-container>

        <!-- Notas Consulta Anterior -->
        <!-- <ng-container matColumnDef="anterior">
            <th mat-header-cell *matHeaderCellDef> Consulta Anterior </th>
            <td mat-cell *matCellDef="let element"> {{element.anterior}} </td>
        </ng-container> -->

        <!-- Paciente Column -->
        <ng-container matColumnDef="paciente">
            <th mat-header-cell *matHeaderCellDef> Paciente </th>
            <td mat-cell *matCellDef="let element"> {{element.paciente}} </td>
        </ng-container>

        <!-- Tel Column -->
        <ng-container matColumnDef="tel">
            <th mat-header-cell *matHeaderCellDef> Tel </th>
            <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
        </ng-container>

        <!-- Consultorio Column -->
        <ng-container matColumnDef="consultorio">
            <th mat-header-cell *matHeaderCellDef> Consultorio </th>
            <td mat-cell *matCellDef="let element"> {{element.consultorio}} </td>
        </ng-container>


        <!-- Estado Column -->
        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> ESTADO </th>
            <td mat-cell *matCellDef="let element">
                <div style="color: #ff8b55; " [hidden]="element.estado!='PENDIENTE'"> {{element.estado}} </div>
                <div style="color: #24bd52; " [hidden]="element.estado!='CONFIRMADA'"> {{element.estado}} </div>
                <div style="color: #d8bfb6; " [hidden]="element.estado!='EN_SALA'"> {{element.estado}} </div>
                <div style="color: #00b3ff; " [hidden]="element.estado!='ATENDIDA'"> {{element.estado}} </div>
                <div style="color: #131313; " [hidden]="element.estado!='AUSENTE'"> {{element.estado}} </div>
                <div style="color: #a98fe9; " [hidden]="element.estado!='CANCELADA'"> {{element.estado}} </div>
                <div style="color: #ed1c23; " [hidden]="element.estado!='ANULADA'"> {{element.estado}} </div>
                <div style="color: #ded861; " [hidden]="element.estado!='PRIORITARIA'"> {{element.estado}} </div>
                <div style="color: #bfbfbf; " [hidden]="element.estado!='NO DAR TURNO'"> {{element.estado}} </div>
                <div style="color: #6464ff; " [hidden]="element.estado!='SOBRETURNO'"> {{element.estado}} </div>
            </td>
        </ng-container>

        <!-- Opciones Column -->
        <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef> Opciones </th>
            <td mat-cell *matCellDef="let element">
                <button class="buttontable" mat-button (click)="changeState(element.id, element.estado)">Cambiar estado</button>
            </td>
        </ng-container>




        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
</div>

<br>