<div class="card">
    <h5 class="card-header row justify-content-center">Editar Paciente</h5>

    <div class="card-body">
        <hr>
        <form #editarPaciente="ngForm">
            <div class="form-group row justify-content-center">
                <label for="InputNombre " class=" ">Nombre </label>
                <div class="col-sm-5 col-sm-offset-3">
                    <input type="text" class="form-control" name="nombrePaciente" [(ngModel)]="paciente.apynom" id="InputNombre">
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label for="SelectSexo" class="  ">Sexo:  </label>
                <div class="col-sm-5 ">
                    <ng-select style="text-align:center;" [items]="sexo" name="sexo" id="SelectSexo" bindLabel="descripcion" binValue="id" placeholder="Seleccionar sexo" [(ngModel)]="paciente.sexo">
                    </ng-select>
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label for="SelecTipodoc" class="  ">Tipo de documento: </label>
                <div class="col-sm-5 ">
                    <ng-select style="text-align:center;" [items]="tipodoc" name="tipodoc" id="SelectTipodoc" bindLabel="tipodoc" binValue="id" placeholder="Seleccione tipo de documento" [(ngModel)]="paciente.tipodoc">
                    </ng-select>
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label for="InputDoc" class=" ">Documento: </label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="documento" [(ngModel)]="paciente.doc" id="InputDoc">
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label for="SelectObraSocial">Obra Social </label>
                <div class="col-sm-5 ">
                    <ng-select style="text-align:center;" [items]="obrassociales" name="id" bindLabel="nombre" binValue="id" placeholder="Seleccione obra social" [(ngModel)]="selectedObraSocial">
                    </ng-select>
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label for="InputFicha" class=" ">Coseguro/Ficha: </label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="ficha" [(ngModel)]="paciente.ficha" id="InputFicha">
                </div>
            </div>

            <!-- NO SE QUE VA ACÁ -->
            <!-- <div class="form-group row justify-content-center">
                <label for="InputFicha" class=" ">Profesional </label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="ficha" [(ngModel)]="paciente.pr" id="InputFicha">
                </div>
            </div> -->


            <div class="form-group row justify-content-center">
                <label for="InputTel" class=" ">Tel Principal:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="tel" [(ngModel)]="paciente.tel" id="InputTel">
                </div>
            </div>


            <div class="form-group row justify-content-center">
                <label for="InputCel" class=" ">Celular:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="cel" [(ngModel)]="paciente.cel" id="InputCel">
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label for="InputNac" class=" ">Fecha de nacimiento:</label>
                <div class="col-sm-5">
                    <input type="date" class="form-control" name="nac" [(ngModel)]="paciente.nac" id="InputNac">
                </div>
            </div>


            <!-- <div class="form-group row justify-content-center">
                <mat-form-field style="background-color: white;" appearance="fill">
                    <mat-label>Fecha de nacimiento</mat-label>
                  
                    <input matInput type="text" class="form-control" name="nav" [(ngModel)]="paciente.nac" id="InputNac" [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
            
                </mat-form-field>
            </div> -->

            <div class="form-group row justify-content-center">
                <label for="InputDirecc" class=" ">Domicilio:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="direcc" [(ngModel)]="paciente.direcc" id="InputDirecc">
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label for="InputLoc" class=" ">Localidad:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="loc" [(ngModel)]="paciente.loc" id="InputLoc">
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label for="InputCP" class=" ">Codigo Postal:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="cp" [(ngModel)]="paciente.cp" id="InputCP">
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label for="InputProv" class=" ">Provincia:</label>
                <div class="col-sm-5">
                    <!-- <input type="text" class="form-control" name="prov" [(ngModel)]="paciente.prov" id="InputProv"> -->
                    <ng-select style="text-align:center;" [items]="provincias" name="prov" id="SelectProvincia" bindLabel="provincias" placeholder="Seleccione una provincia" [(ngModel)]="paciente.prov">
                    </ng-select>
                </div>
            </div>


            <div class="form-group row justify-content-center">
                <label for="Inputestciv" class=" ">Estado Civil:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="estciv" [(ngModel)]="paciente.estciv" id="Inputestciv">
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label for="InputMail" class=" ">E-mail:</label>
                <div class="col-sm-5">
                    <input type="email" class="form-control" name="mail" [(ngModel)]="paciente.mail" id="InputMail">
                </div>
            </div>

            <div style=" text-align: center;">
                <button (click)="OnSubmit()" class="btn btn-primary">Guardar</button>
            </div>

        </form>
    </div>
</div>