<div *ngIf="identidad.rol == 'AD'" class="row center" style="margin-left: 40%;">
    <i class="fa fa-user-md fa-lg fa-2x" style="color: #319997; margin-top: 0.5%;" aria-hidden="true"></i>
    <ng-select style="width:15em; margin-left: 1em;" [items]="profesionales" name="profesionales" id="InputProfesionales" placeholder="Seleccione Profesional" bindLabel="apynom" binValue="id" [(ngModel)]="selectedProfesional" (change)="getCitas()" (remove)="onDelete()">
    </ng-select>
    <p style="margin-left: 4%; margin-top: 1%; font-weight: 600; color: #747584">Lista de atención según el orden de llegada</p>
</div>
<div *ngIf="identidad.rol == 'AS' || identidad.rol == 'AS'" class="row center" style="margin-left: 40%;">
    <i class="fa fa-user-md fa-lg fa-2x" style="color: #319997; margin-top: 0.5%;" aria-hidden="true"></i>
    <ng-select style="width:15em; margin-left: 1em;" [items]="profesionales" name="profesionales" id="InputProfesionales" placeholder="Seleccione Profesional" bindLabel="nombreprof" binValue="idprof" [(ngModel)]="selectedProfesional" (change)="getCitas()" (remove)="onDelete()">
    </ng-select>
    <p style="margin-left: 4%; margin-top: 1%; font-weight: 600; color: #747584">Lista de atención según el orden de llegada</p>
</div>
<div *ngIf="identidad.rol == 'GS'" class="row center" style="margin-left: 40%;">
    <i class="fa fa-user-md fa-lg fa-2x" style="color: #319997; margin-top: 0.5%;" aria-hidden="true"></i>
    <p style="margin-left: 4%; margin-top: 1%; font-weight: 600; color: black"> {{selectedProfesional.apynom}}</p>
    <p style="margin-left: 4%; margin-top: 1%; font-weight: 600; color: #747584">Lista de atención según el orden de llegada</p>
</div>
<br>
<div *ngIf="flag" class="row" style="width: 90%; margin-left: 5%;">
    <div *ngIf="dataSource.data.length == 0" style="color: #747584; width: 99%; text-align: center;"><i class="fa fa-search"></i> No se encontraron citas</div>
    <table *ngIf="dataSource.data.length > 0" class="mat-elevation-z8 animated fadeIn" mat-table [dataSource]="dataSource" matSort style="width:99%;">

        <ng-container matColumnDef="paciente">
            <th mat-header-cell *matHeaderCellDef> Paciente </th>
            <td mat-cell *matCellDef="let element"> {{element.paciente}} </td>
        </ng-container>

        <ng-container matColumnDef="dni">
            <th mat-header-cell *matHeaderCellDef> DNI </th>
            <td mat-cell *matCellDef="let element"> {{element.doc}} </td>
        </ng-container>

        <ng-container matColumnDef="detalles">
            <th mat-header-cell *matHeaderCellDef> Detalles </th>
            <td mat-cell *matCellDef="let element">
                <button class="buttontable" mat-button (click)="openDetails(element)"><b>Detalles</b></button>
                <button class="buttontable" style="margin-left: 2%;" mat-button (click)="openHistory(element)"><b>Historia Clínica</b></button>
            </td>
        </ng-container>

        <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef> Opciones </th>
            <td mat-cell *matCellDef="let element"> <button class="buttontable2" (click)="changeState(element.id, element.idatencion)" mat-button><b>Marcar como atendida</b></button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<br>